# <u>**ACADEMY**</u> : Educational Systems Data Analysis

## Author

- Mohamed Ali EL HAMECH
- E-mail : master.code.develop@gmail.com
- Affiliation : ACADEMY #OpenClassRooms
<p><img align="left" src="https://github-readme-stats.vercel.app/api/top-langs?username=mastercodedevelop&show_icons=true&locale=en&layout=compact" alt="mastercodedevelop" />

## Introduction:

>In the rapidly evolving landscape of online education, ACADEMY, a burgeoning EdTech start-up, has been making significant strides by offering high-quality online training content tailored for high school and university students. As part of its strategic vision, ACADEMY is keenly exploring opportunities for international expansion, aiming to tap into markets with a robust educational framework and a potential clientele for its services.

_The objective of this analysis is twofold. Firstly, it seeks to delve into global educational data, sourced from the World Bank, to ascertain the viability and potential of various countries as prospective markets for ACADEMY. This dataset, curated by the "EdStats All Indicator Query" of the World Bank, boasts a comprehensive collection of over 4,000 international indicators. These indicators span a range of metrics, from access to education and graduation rates to insights about educators and educational expenditures._

_Secondly, this analysis aims to provide a clear, data-driven narrative that would aid ACADEMY's decision-makers in charting the company's international trajectory. By evaluating the quality of the dataset, understanding its breadth and depth, and extracting relevant insights, we hope to offer a roadmap that aligns with ACADEMY's mission and vision._

## Import Necessary Libraries
> Before you can work with the data, you need to import the necessary libraries.

In [2]:
import pandas as pd
import numpy as np

## Load the Data

In [3]:
data = pd.read_csv('./data/EdStatsData.csv')

## Initial Data Exploration

### Preview of the First and Last Rows of the Dataset

In [5]:
print("First 5 rows of the dataset:")
data.head()

First 5 rows of the dataset:

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
print("Last 5 rows of the dataset:")
print(data.tail())

Last 5 rows of the dataset:
       Country Name Country Code  \
886925     Zimbabwe          ZWE
886926     Zimbabwe          ZWE
886927     Zimbabwe          ZWE
886928     Zimbabwe          ZWE
886929     Zimbabwe          ZWE

                                           Indicator Name  \
886925  Youth illiterate population, 15-24 years, male...
886926  Youth literacy rate, population 15-24 years, b...
886927  Youth literacy rate, population 15-24 years, f...
886928  Youth literacy rate, population 15-24 years, g...
886929  Youth literacy rate, population 15-24 years, m...

              Indicator Code  1970  1971  1972  1973  1974  1975  ...  2060  \
886925      UIS.LP.AG15T24.M   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
886926     SE.ADT.1524.LT.ZS   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
886927  SE.ADT.1524.LT.FE.ZS   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
886928  SE.ADT.1524.LT.FM.ZS   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
886929  SE.ADT.1524.LT.MA.ZS   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN

        2065  2070  2075  2080  2085  2090  2095  2100  Unnamed: 69
886925   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN          NaN
886926   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN          NaN
886927   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN          NaN
886928   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN          NaN
886929   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN          NaN

[5 rows x 70 columns]