# <u>**ACADEMY**</u> : Educational Systems Data Analysis <a id='top'></a>

<details open>
<summary><u style="font-size: 2rem">Summary: </u></summary>

* <a href="#author" data-toc-modified-id="author" >Author</a>
* <a href="#introduction" data-toc-modified-id="introduction" >Introduction</a>
* <a href="#functions" data-toc-modified-id="functions" >Functions</a>
* <a href="#import-necessary-libraries" data-toc-modified-id="import-necessary-libraries" >Import Necessary Libraries</a>
* <a href="#load-the-data" data-toc-modified-id="load-the-data" >Load the Data</a>
* <a href="#initial-data-exploration" data-toc-modified-id="initial-data-exploration">Initial Data Exploration</a>
    * <a href="#stats-data" data-toc-modified-id="stats-data">1 - EdStatsData</a>
    * <a href="#stats-country" data-toc-modified-id="stats-country">2 - EdStatsCountry</a>
    * <a href="#stats-country-series" data-toc-modified-id="stats-country-series">3 - EdStatsCountry-Series</a>
    * <a href="#stats-series" data-toc-modified-id="stats-series">4 - EdStatsSeries</a>
    * <a href="#stats-foot-note" data-toc-modified-id="stats-foot-note">5 - EdStatsFootNote</a>
    * <a href="#analysis-note" data-toc-modified-id="analysis-note"><u>Analysis note</u></a>
* <a href="#data-cleaning" data-toc-modified-id="data-cleaning">Data Cleaning</a>
    * <a href="#relevant indicators" data-toc-modified-id="relevant indicators">Relevant Indicators</a>
    * <a href="#filter-&-eliminate-unnecessary-columns" data-toc-modified-id="filter-&-eliminate-unnecessary-columns">Filter & Eliminate Unnecessary Columns</a>
        * <a href="#cleaning-stats-data" data-toc-modified-id="cleaning-stats-data">1 - EdStatsData</a>
        * <a href="#cleaning-stats-data" data-toc-modified-id="cleaning-stats-data">2 - EdStatsCountry</a>
        * <a href="#cleaning-stats-country-series" data-toc-modified-id="cleaning-stats-country-series">3 - EdStatsCountry-Series</a>
        * <a href="#cleaning-series" data-toc-modified-id="cleaning-series">4 - EdStatsSeries</a>
        * <a href="#cleaning-stats-foot-note" data-toc-modified-id="cleaning-stats-foot-note">5 - EdStatsFootNote</a>


</details>

## Author <a id='author'></a>
> Mohamed Ali EL HAMECH

- @MasterCodeDevelop (Github)
- E-mail : master.code.develop@gmail.com
- Affiliation : ACADEMY #OpenClassRooms
<p><img align="left" src="https://github-readme-stats.vercel.app/api/top-langs?username=mastercodedevelop&show_icons=true&locale=en&layout=compact" alt="mastercodedevelop" />

## Introduction:<a id='introduction'></a>
>In the rapidly evolving landscape of online education, ACADEMY, a burgeoning EdTech start-up, has been making significant strides by offering high-quality online training content tailored for high school and university students. As part of its strategic vision, ACADEMY is keenly exploring opportunities for international expansion, aiming to tap into markets with a robust educational framework and a potential clientele for its services.

_The objective of this analysis is twofold. Firstly, it seeks to delve into global educational data, sourced from the World Bank, to ascertain the viability and potential of various countries as prospective markets for ACADEMY. This dataset, curated by the "EdStats All Indicator Query" of the World Bank, boasts a comprehensive collection of over 4,000 international indicators. These indicators span a range of metrics, from access to education and graduation rates to insights about educators and educational expenditures._

_Secondly, this analysis aims to provide a clear, data-driven narrative that would aid ACADEMY's decision-makers in charting the company's international trajectory. By evaluating the quality of the dataset, understanding its breadth and depth, and extracting relevant insights, we hope to offer a roadmap that aligns with ACADEMY's mission and vision._

## Import Necessary Libraries <a id='import-necessary-libraries'></a>
> Before you can work with the data, you need to import the necessary libraries.

In [177]:
# Pandas is used for data manipulation and analysis
import pandas as pd

# Numpy is used for mathematical and logical operations on arrays
import numpy as np

[Back to top](#top)

## Functions <a id='functions'></a>

In [178]:
def title(text):
    """
    Format the given text with an underline.
    
    Parameters:
    - text (str): The input string to be formatted.
    
    Returns:
    - str: The formatted string with an underline with a line break.
    
    Example:
    --------
    >>> title("Hello World")
    '\x1B[4mHello World\x1B[0m \n'
    """
    
    # ANSI escape code '\x1B[4m' is used to start the underline effect
    # ANSI escape code '\x1B[0m' is used to reset the formatting
    return f"\x1B[4m" + text + "\x1B[0m \n"

In [179]:
def missing_values_table(df, percentage = 0):
    """
    Return a DataFrame displaying the count and percentage of missing values for each column.
    
    Parameters:
    - df (DataFrame): The input DataFrame to check for missing values.
    
    Returns:
    - DataFrame: A DataFrame with columns 'Missing Values' and 'Missing Percentages', sorted in descending order of missing percentages.
    """
    
    # Calculate missing values and their percentages
    missing_values = df.isnull().sum()
    missing_percentages = (df.isnull().mean() * 100).round(2)  # rounding to 2 decimal places for clarity
    
    # Create a DataFrame to display missing data info
    missing_data = pd.DataFrame({
        'Missing Values': missing_values, 
        'Missing Percentages (%)': missing_percentages
    })
    
    # Filtering columns based on the given percentage and sorting by percentage
    missing_data = missing_data[(missing_data['Missing Values'] > 0) & (missing_data['Missing Percentages (%)'] >= percentage)]
    missing_data = missing_data.sort_values(by='Missing Percentages (%)', ascending=False)
    
    # Display if percentage is greater than 0
    if percentage > 0:
        print(title(f"Displaying columns with missing data >= {percentage}%:"))
        print(f"Total columns that have missing data >= {percentage}%: {missing_data.index.size}")
    else:
        print(title("Displaying all columns with missing data:"))
    
    if missing_data.empty:
        print("There are no columns with the specified percentage of missing data.")
    else:
        return missing_data

In [180]:
def display_duplicate_rows(df):
    """
    Display duplicate rows of a DataFrame.
    
    Parameters:
    - df (DataFrame): The input DataFrame to check for duplicate rows.
    
    Returns:
    - None: Prints the number of duplicate rows or a message indicating no duplicates.
    """
    
    # Find duplicate rows
    duplicated_rows = df[df.duplicated()]
    duplicated_rows_sum = duplicated_rows.shape[0]

    if duplicated_rows_sum > 0:
        print(title("Total duplicate rows:"+ duplicated_rows_sum))
        print("Displaying duplicate rows:")
        display(duplicated_rows)  # This will display the DataFrame in a Jupyter Notebook environment
    else:
        print("There are no duplicate rows.")

In [181]:
def drop_columns(df, percentage=100):
    """
    Drop columns from a DataFrame based on a specified missing value percentage threshold.
    
    Parameters:
    - df (DataFrame): The input DataFrame from which columns will be dropped.
    - percentage (float, optional): The missing value percentage threshold. Columns with missing values 
      equal to or greater than this threshold will be dropped. Default is 100.
    
    Returns:
    - None: The function modifies the DataFrame in-place and prints the result of the operation.
    
    Example:
    --------
    >>> df = pd.DataFrame({'A': [1, 2, np.nan], 'B': [np.nan, np.nan, np.nan]})
    >>> drop_columns(df)
    1 column dropped because it had 100% missing values: B
    """
    
    # Get the missing data information using the previously defined function
    missing_data = missing_values_table(df)
    
    # Identify columns to drop based on the given percentage threshold
    columns_to_drop = missing_data[missing_data['Missing Percentages (%)'] >= percentage].index.tolist()
    
    # Drop the identified columns and print the result
    if columns_to_drop:
        df.drop(columns_to_drop, axis=1, inplace=True)
        plural = 's' if len(columns_to_drop) > 1 else ''
        print(f"{len(columns_to_drop)} column{plural} dropped because it{plural if len(columns_to_drop) == 1 else ' they'} had {percentage}% missing values: {', '.join(columns_to_drop)}")
    else:
        print(f"No columns were dropped as none had {percentage}% missing values.")

In [182]:
def explore_df(df, df_name):
    """
    Explores a given DataFrame by displaying key information.
    
    Paramètres:
    - df (DataFrame) : DataFrame to explore.
    - df_name (str) : DataFrame name for display.
    """
    print(title(f"Exploration of {df_name} \n\n"))
    
    # 1. Preview the first and last lines
    print(title(f"1. Preview the first and last line of {df_name}"))
    display(df.head())
    display(df.tail())
    
    # 2. General informations
    print(title(f"2. General information about {df_name}"))
    df.info()
    
    # 3. Data types
    print(title(f"3. Data types in {df_name}"))
    print(df.dtypes.value_counts())
    
    # 4. Valeurs manquantes
    print(title(f"4. Missing values in {df_name}"))
    display(missing_values_table(df))
    
    # 5. Missing values
    print(title(f"5. Duplicate rows in {df_name}"))
    display_duplicate_rows(df)
    
    # 6. Descriptive statistics
    print(title(f"6. Descriptive statistics for {df_name}"))
    display(df.describe())
    
    # 7. Unique values for categorical columns
    print(title(f"7. Unique values for categorical columns of {df_name}"))
    for column in df.select_dtypes(include=['object']).columns:
        print(f"Unique values for {column}: {df[column].nunique()}")
        print(df[column].unique())
        print("\n")
    
    # 8. DataFrame Dimensions
    print(title(f"\n 8. Dimensions of {df_name}"))
    print(f"Number of lines: {df.shape[0]}")
    print(f"Number of columns: {df.shape[1]}")

[Back to top](#top)

## Load the Data <a id='load-the-data'></a>
> Importing the dataset into the environment for analysis and exploration.

In [183]:
# Load the original datasetsCOUNTRY_SERIES = pd.read_csv('./data/EdStatsCountry-Series.csv')
COUNTRY_SERIES = pd.read_csv('./data/EdStatsCountry-Series.csv')
COUNTRY = pd.read_csv('./data/EdStatsCountry.csv')
DATA = pd.read_csv('./data/EdStatsData.csv')
FOOT_NOTE = pd.read_csv('./data/EdStatsFootNote.csv')
SERIES = pd.read_csv('./data/EdStatsSeries.csv')

# Create copies of the original datasets for analysis
country_series = COUNTRY_SERIES.copy()
country = COUNTRY.copy()
data = DATA.copy()
foot_note = FOOT_NOTE.copy()
series = SERIES.copy()

[Back to top](#top)

## Initial Data Exploration <a id='initial-data-exploration'></a>
> Diving into the dataset to understand its structure, content, and characteristics.

### 1 - <u>EdStatsData :</u><a id='stats-data'></a>

In [184]:
# Exploring EdStatsData
explore_df(DATA, "EdStatsData")

Exploration of EdStatsData



1. Preview the first and last line of EdStatsData

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
886925,Zimbabwe,ZWE,"Youth illiterate population, 15-24 years, male...",UIS.LP.AG15T24.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886926,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, b...",SE.ADT.1524.LT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886927,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, f...",SE.ADT.1524.LT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886928,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, g...",SE.ADT.1524.LT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886929,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, m...",SE.ADT.1524.LT.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2. General information about EdStatsData

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886930 entries, 0 to 886929
Data columns (total 70 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    886930 non-null  object
 1   Country Code    886930 non-null  object
 2   Indicator Name  886930 non-null  object
 3   Indicator Code  886930 non-null  object
 4   1970            72288 non-null   float64
 5   1971            35537 non-null   float64
 6   1972            35619 non-null   float64
 7   1973            35545 non-null   float64
 8   1974            35730 non-null   float64
 9   1975            87306 non-null   float64
 10  1976            37483 non-null   float64
 11  1977            37574 non-null   float64
 12  1978            37576 non-null   float64
 13  1979            36809 non-null   float64
 14  1980            89122 non-null   float64
 15  1981            38777 non-null   float64
 16  1982            37511 non-null   float64
 17  1983            38460 non-null   float64
 18  1984            38606 non-null   float64
 19  1985            90296 non-null   float64
 20  1986            39372 non-null   float64
 21  1987            38641 non-null   float64
 22  1988            38552 non-null   float64
 23  1989            37540 non-null   float64
 24  1990            124405 non-null  float64
 25  1991            74437 non-null   float64
 26  1992            75543 non-null   float64
 27  1993            75793 non-null   float64
 28  1994            77462 non-null   float64
 29  1995            131361 non-null  float64
 30  1996            76807 non-null   float64
 31  1997            73453 non-null   float64
 32  1998            84914 non-null   float64
 33  1999            118839 non-null  float64
 34  2000            176676 non-null  float64
 35  2001            123509 non-null  float64
 36  2002            124205 non-null  float64
 37  2003            130363 non-null  float64
 38  2004            128814 non-null  float64
 39  2005            184108 non-null  float64
 40  2006            140312 non-null  float64
 41  2007            137272 non-null  float64
 42  2008            134387 non-null  float64
 43  2009            142108 non-null  float64
 44  2010            242442 non-null  float64
 45  2011            146012 non-null  float64
 46  2012            147264 non-null  float64
 47  2013            137509 non-null  float64
 48  2014            113789 non-null  float64
 49  2015            131058 non-null  float64
 50  2016            16460 non-null   float64
 51  2017            143 non-null     float64
 52  2020            51436 non-null   float64
 53  2025            51436 non-null   float64
 54  2030            51436 non-null   float64
 55  2035            51436 non-null   float64
 56  2040            51436 non-null   float64
 57  2045            51436 non-null   float64
 58  2050            51436 non-null   float64
 59  2055            51436 non-null   float64
 60  2060            51436 non-null   float64
 61  2065            51436 non-null   float64
 62  2070            51436 non-null   float64
 63  2075            51436 non-null   float64
 64  2080            51436 non-null   float64
 65  2085            51436 non-null   float64
 66  2090            51436 non-null   float64
 67  2095            51436 non-null   float64
 68  2100            51436 non-null   float64
 69  Unnamed: 69     0 non-null       float64
dtypes: float64(66), object(4)
memory usage: 473.7+ MB
3. Data types in EdStatsData

float64    66
object      4
dtype: int64
4. Missing values in EdStatsData

Displaying all columns with missing data:

             Missing Values  Missing Percentages (%)
Unnamed: 69          886930                   100.00
2017                 886787                    99.98
2016                 870470                    98.14
1971                 851393                    95.99
1973                 851385                    95.99
...                     ...                      ...
2011                 740918                    83.54
2012                 739666                    83.40
2000                 710254                    80.08
2005                 702822                    79.24
2010                 644488                    72.67

[66 rows x 2 columns]

5. Duplicate rows in EdStatsData

There are no duplicate rows.
6. Descriptive statistics for EdStatsData

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
count,7.228800e+04,3.553700e+04,3.561900e+04,3.554500e+04,3.573000e+04,8.730600e+04,3.748300e+04,3.757400e+04,3.757600e+04,3.680900e+04,...,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,0.0
mean,1.974772e+09,4.253638e+09,4.592365e+09,5.105006e+09,5.401493e+09,2.314288e+09,5.731808e+09,6.124437e+09,6.671489e+09,7.436724e+09,...,7.224868e+02,7.271290e+02,7.283779e+02,7.266484e+02,7.228327e+02,7.176899e+02,7.113072e+02,7.034274e+02,6.940296e+02,NaN
std,1.211687e+11,1.804814e+11,1.914083e+11,2.059170e+11,2.112150e+11,1.375059e+11,2.215546e+11,2.325489e+11,2.473986e+11,2.660957e+11,...,2.215845e+04,2.287990e+04,2.352338e+04,2.408149e+04,2.455897e+04,2.496587e+04,2.530183e+04,2.556069e+04,2.574189e+04,NaN
min,-1.435564e+00,-1.594625e+00,-3.056522e+00,-4.032582e+00,-4.213563e+00,-3.658569e+00,-2.950945e+00,-3.174870e+00,-3.558749e+00,-2.973612e+00,...,-1.630000e+00,-1.440000e+00,-1.260000e+00,-1.090000e+00,-9.200000e-01,-7.800000e-01,-6.500000e-01,-5.500000e-01,-4.500000e-01,NaN
25%,8.900000e-01,8.853210e+00,9.240920e+00,9.595200e+00,9.861595e+00,1.400000e+00,9.312615e+00,9.519913e+00,1.000000e+01,1.000000e+01,...,3.000000e-02,3.000000e-02,2.000000e-02,2.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,NaN
50%,6.317724e+00,6.316240e+01,6.655139e+01,6.969595e+01,7.087760e+01,9.677420e+00,7.101590e+01,7.133326e+01,7.290512e+01,7.510173e+01,...,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.200000e-01,NaN
75%,6.251250e+01,5.655200e+04,5.863650e+04,6.202900e+04,6.383675e+04,7.854163e+01,5.682800e+04,5.739175e+04,5.940425e+04,6.411500e+04,...,7.505000e+00,7.500000e+00,7.300000e+00,7.100000e+00,6.722500e+00,6.080000e+00,5.462500e+00,4.680000e+00,4.032500e+00,NaN
max,1.903929e+13,1.986457e+13,2.100916e+13,2.238367e+13,2.282991e+13,2.300634e+13,2.424128e+13,2.521383e+13,2.622101e+13,2.730873e+13,...,2.951569e+06,3.070879e+06,3.169711e+06,3.246239e+06,3.301586e+06,3.337871e+06,3.354746e+06,3.351887e+06,3.330484e+06,NaN

7. Unique values for categorical columns of EdStatsData

Unique values for Country Name: 242
['Arab World' 'East Asia & Pacific'
 'East Asia & Pacific (excluding high income)' 'Euro area'
 'Europe & Central Asia' 'Europe & Central Asia (excluding high income)'
 'European Union' 'Heavily indebted poor countries (HIPC)' 'High income'
 'Latin America & Caribbean'
 'Latin America & Caribbean (excluding high income)'
 'Least developed countries: UN classification' 'Low & middle income'
 'Low income' 'Lower middle income' 'Middle East & North Africa'
 'Middle East & North Africa (excluding high income)' 'Middle income'
 'North America' 'OECD members' 'South Asia' 'Sub-Saharan Africa'
 'Sub-Saharan Africa (excluding high income)' 'Upper middle income'
 'World' 'Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra'
 'Angola' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas, The' 'Bahrain' 'Bangladesh' 'Barbados'
 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Cameroon' 'Canada' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Channel Islands' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czech Republic'
 'Denmark' 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador'
 'Egypt, Arab Rep.' 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia'
 'Ethiopia' 'Faroe Islands' 'Fiji' 'Finland' 'France' 'French Polynesia'
 'Gabon' 'Gambia, The' 'Georgia' 'Germany' 'Ghana' 'Gibraltar' 'Greece'
 'Greenland' 'Grenada' 'Guam' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hong Kong SAR, China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran, Islamic Rep.' 'Iraq' 'Ireland' 'Isle of Man'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Korea, Dem. People’s Rep.' 'Korea, Rep.' 'Kosovo' 'Kuwait'
 'Kyrgyz Republic' 'Lao PDR' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao SAR, China'
 'Macedonia, FYR' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali'
 'Malta' 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia, Fed. Sts.' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan' 'Palau' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Romania' 'Russian Federation' 'Rwanda' 'Samoa'
 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)'
 'Slovak Republic' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Sudan' 'Spain' 'Sri Lanka' 'St. Kitts and Nevis' 'St. Lucia'
 'St. Martin (French part)' 'St. Vincent and the Grenadines' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syrian Arab Republic'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela, RB' 'Vietnam' 'Virgin Islands (U.S.)'
 'West Bank and Gaza' 'Yemen, Rep.' 'Zambia' 'Zimbabwe']


Unique values for Country Code: 242
['ARB' 'EAS' 'EAP' 'EMU' 'ECS' 'ECA' 'EUU' 'HPC' 'HIC' 'LCN' 'LAC' 'LDC'
 'LMY' 'LIC' 'LMC' 'MEA' 'MNA' 'MIC' 'NAC' 'OED' 'SAS' 'SSF' 'SSA' 'UMC'
 'WLD' 'AFG' 'ALB' 'DZA' 'ASM' 'AND' 'AGO' 'ATG' 'ARG' 'ARM' 'ABW' 'AUS'
 'AUT' 'AZE' 'BHS' 'BHR' 'BGD' 'BRB' 'BLR' 'BEL' 'BLZ' 'BEN' 'BMU' 'BTN'
 'BOL' 'BIH' 'BWA' 'BRA' 'VGB' 'BRN' 'BGR' 'BFA' 'BDI' 'CPV' 'KHM' 'CMR'
 'CAN' 'CYM' 'CAF' 'TCD' 'CHI' 'CHL' 'CHN' 'COL' 'COM' 'COD' 'COG' 'CRI'
 'CIV' 'HRV' 'CUB' 'CUW' 'CYP' 'CZE' 'DNK' 'DJI' 'DMA' 'DOM' 'ECU' 'EGY'
 'SLV' 'GNQ' 'ERI' 'EST' 'ETH' 'FRO' 'FJI' 'FIN' 'FRA' 'PYF' 'GAB' 'GMB'
 'GEO' 'DEU' 'GHA' 'GIB' 'GRC' 'GRL' 'GRD' 'GUM' 'GTM' 'GIN' 'GNB' 'GUY'
 'HTI' 'HND' 'HKG' 'HUN' 'ISL' 'IND' 'IDN' 'IRN' 'IRQ' 'IRL' 'IMN' 'ISR'
 'ITA' 'JAM' 'JPN' 'JOR' 'KAZ' 'KEN' 'KIR' 'PRK' 'KOR' 'XKX' 'KWT' 'KGZ'
 'LAO' 'LVA' 'LBN' 'LSO' 'LBR' 'LBY' 'LIE' 'LTU' 'LUX' 'MAC' 'MKD' 'MDG'
 'MWI' 'MYS' 'MDV' 'MLI' 'MLT' 'MHL' 'MRT' 'MUS' 'MEX' 'FSM' 'MDA' 'MCO'
 'MNG' 'MNE' 'MAR' 'MOZ' 'MMR' 'NAM' 'NRU' 'NPL' 'NLD' 'NCL' 'NZL' 'NIC'
 'NER' 'NGA' 'MNP' 'NOR' 'OMN' 'PAK' 'PLW' 'PAN' 'PNG' 'PRY' 'PER' 'PHL'
 'POL' 'PRT' 'PRI' 'QAT' 'ROU' 'RUS' 'RWA' 'WSM' 'SMR' 'STP' 'SAU' 'SEN'
 'SRB' 'SYC' 'SLE' 'SGP' 'SXM' 'SVK' 'SVN' 'SLB' 'SOM' 'ZAF' 'SSD' 'ESP'
 'LKA' 'KNA' 'LCA' 'MAF' 'VCT' 'SDN' 'SUR' 'SWZ' 'SWE' 'CHE' 'SYR' 'TJK'
 'TZA' 'THA' 'TLS' 'TGO' 'TON' 'TTO' 'TUN' 'TUR' 'TKM' 'TCA' 'TUV' 'UGA'
 'UKR' 'ARE' 'GBR' 'USA' 'URY' 'UZB' 'VUT' 'VEN' 'VNM' 'VIR' 'PSE' 'YEM'
 'ZMB' 'ZWE']


Unique values for Indicator Name: 3665
['Adjusted net enrolment rate, lower secondary, both sexes (%)'
 'Adjusted net enrolment rate, lower secondary, female (%)'
 'Adjusted net enrolment rate, lower secondary, gender parity index (GPI)'
 ... 'Youth literacy rate, population 15-24 years, female (%)'
 'Youth literacy rate, population 15-24 years, gender parity index (GPI)'
 'Youth literacy rate, population 15-24 years, male (%)']


Unique values for Indicator Code: 3665
['UIS.NERA.2' 'UIS.NERA.2.F' 'UIS.NERA.2.GPI' ... 'SE.ADT.1524.LT.FE.ZS'
 'SE.ADT.1524.LT.FM.ZS' 'SE.ADT.1524.LT.MA.ZS']



 8. Dimensions of EdStatsData

Number of lines: 886930
Number of columns: 70

> <u>Notes:</u>
>
> The EdStatsData dataset is a rich and voluminous set that covers 242 countries with 3,665 unique indicators, spanning 886,930 rows and 70 columns. The data extends over a period from 1970 to 2100, although some years between 2017 and 2100 are missing or grouped in five-year intervals.
>
> The first four columns, which are of object type, provide contextual information about the countries and indicators, while the subsequent columns, primarily of type float64, contain the indicator values for each year.
>
> A major challenge with this dataset is the significant amount of missing data. Specifically, 45 columns have more than 90% missing data, and 65 have more than 70% missing data. This will require special attention during the data cleaning phase. Additionally, a column, "Unnamed: 69", appears to be present by mistake and will need to be addressed.
>
> Despite these challenges, the diversity and depth of the data offer a valuable opportunity to extract relevant insights that can guide ACADEMY's strategic decisions regarding international expansion.

[Back to top](#top)

### 2 - <u>EdStatsCountry :</u><a id='stats-country'></a>

In [185]:
# Exploring EdStatsCountry
explore_df(COUNTRY, "EdStatsCountry")

Exploration of EdStatsCountry



1. Preview the first and last line of EdStatsCountry

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
236,XKX,Kosovo,Kosovo,Republic of Kosovo,NaN,Euro,"Kosovo became a World Bank member on June 29, ...",Europe & Central Asia,Lower middle income,KV,...,General Data Dissemination System (GDDS),2011,NaN,"Integrated household survey (IHS), 2011",NaN,NaN,NaN,NaN,NaN,NaN
237,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,Based on official government statistics and In...,Middle East & North Africa,Lower middle income,RY,...,General Data Dissemination System (GDDS),2004,"Demographic and Health Survey (DHS), 2013","Expenditure survey/budget survey (ES/BS), 2005",NaN,NaN,2006.0,2012.0,2005,NaN
238,ZAF,South Africa,South Africa,Republic of South Africa,ZA,South African rand,Fiscal year end: March 31; reporting period fo...,Sub-Saharan Africa,Upper middle income,ZA,...,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey (DHS), 2003; Wor...","Expenditure survey/budget survey (ES/BS), 2010",NaN,2007,2010.0,2012.0,2000,NaN
239,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,National accounts data have rebased to reflect...,Sub-Saharan Africa,Lower middle income,ZM,...,General Data Dissemination System (GDDS),2010,"Demographic and Health Survey (DHS), 2013","Integrated household survey (IHS), 2010",NaN,2010. Population and Housing Census.,NaN,2011.0,2002,NaN
240,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,U.S. dollar,Fiscal year end: June 30; reporting period for...,Sub-Saharan Africa,Low income,ZW,...,General Data Dissemination System (GDDS),2012,"Demographic and Health Survey (DHS), 2010/11","Integrated household survey (IHS), 2011/12",NaN,NaN,NaN,2012.0,2002,NaN

2. General information about EdStatsCountry

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 32 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Code                                       241 non-null    object
 1   Short Name                                         241 non-null    object
 2   Table Name                                         241 non-null    object
 3   Long Name                                          241 non-null    object
 4   2-alpha code                                       238 non-null    object
 5   Currency Unit                                      215 non-null    object
 6   Special Notes                                      145 non-null    object
 7   Region                                             214 non-null    object
 8   Income Group                                       214 non-null    object
 9   WB-2 code                                          240 non-null    object
 10  National accounts base year                        205 non-null    object
 11  National accounts reference year                   32 non-null     float64
 12  SNA price valuation                                197 non-null    object
 13  Lending category                                   144 non-null    object
 14  Other groups                                       58 non-null     object
 15  System of National Accounts                        215 non-null    object
 16  Alternative conversion factor                      47 non-null     object
 17  PPP survey year                                    145 non-null    object
 18  Balance of Payments Manual in use                  181 non-null    object
 19  External debt Reporting status                     124 non-null    object
 20  System of trade                                    200 non-null    object
 21  Government Accounting concept                      161 non-null    object
 22  IMF data dissemination standard                    181 non-null    object
 23  Latest population census                           213 non-null    object
 24  Latest household survey                            141 non-null    object
 25  Source of most recent Income and expenditure data  160 non-null    object
 26  Vital registration complete                        111 non-null    object
 27  Latest agricultural census                         142 non-null    object
 28  Latest industrial data                             107 non-null    float64
 29  Latest trade data                                  185 non-null    float64
 30  Latest water withdrawal data                       179 non-null    object
 31  Unnamed: 31                                        0 non-null      float64
dtypes: float64(4), object(28)
memory usage: 60.4+ KB
3. Data types in EdStatsCountry

object     28
float64     4
dtype: int64
4. Missing values in EdStatsCountry

Displaying all columns with missing data:

,Missing Values,Missing Percentages (%)
Unnamed: 31,241,100.00
National accounts reference year,209,86.72
Alternative conversion factor,194,80.50
Other groups,183,75.93
Latest industrial data,134,55.60
Vital registration complete,130,53.94
External debt Reporting status,117,48.55
Latest household survey,100,41.49
Latest agricultural census,99,41.08
Lending category,97,40.25
Special Notes,96,39.83
PPP survey year,96,39.83
Source of most recent Income and expenditure data,81,33.61
Government Accounting concept,80,33.20
Latest water withdrawal data,62,25.73
IMF data dissemination standard,60,24.90
Balance of Payments Manual in use,60,24.90
Latest trade data,56,23.24
SNA price valuation,44,18.26
System of trade,41,17.01
National accounts base year,36,14.94
Latest population census,28,11.62
Income Group,27,11.20
Region,27,11.20
Currency Unit,26,10.79
System of National Accounts,26,10.79
2-alpha code,3,1.24
WB-2 code,1,0.41

5. Duplicate rows in EdStatsCountry

There are no duplicate rows.
6. Descriptive statistics for EdStatsCountry

,National accounts reference year,Latest industrial data,Latest trade data,Unnamed: 31
count,32.00000,107.000000,185.000000,0.0
mean,2001.53125,2008.102804,2010.994595,NaN
std,5.24856,2.616834,2.569675,NaN
min,1987.00000,2000.000000,1995.000000,NaN
25%,1996.75000,2007.500000,2011.000000,NaN
50%,2002.00000,2009.000000,2012.000000,NaN
75%,2005.00000,2010.000000,2012.000000,NaN
max,2012.00000,2010.000000,2012.000000,NaN

7. Unique values for categorical columns of EdStatsCountry

Unique values for Country Code: 241
['ABW' 'AFG' 'AGO' 'ALB' 'AND' 'ARB' 'ARE' 'ARG' 'ARM' 'ASM' 'ATG' 'AUS'
 'AUT' 'AZE' 'BDI' 'BEL' 'BEN' 'BFA' 'BGD' 'BGR' 'BHR' 'BHS' 'BIH' 'BLR'
 'BLZ' 'BMU' 'BOL' 'BRA' 'BRB' 'BRN' 'BTN' 'BWA' 'CAF' 'CAN' 'CHE' 'CHI'
 'CHL' 'CHN' 'CIV' 'CMR' 'COD' 'COG' 'COL' 'COM' 'CPV' 'CRI' 'CUB' 'CUW'
 'CYM' 'CYP' 'CZE' 'DEU' 'DJI' 'DMA' 'DNK' 'DOM' 'DZA' 'EAP' 'EAS' 'ECA'
 'ECS' 'ECU' 'EGY' 'EMU' 'ERI' 'ESP' 'EST' 'ETH' 'EUU' 'FIN' 'FJI' 'FRA'
 'FRO' 'FSM' 'GAB' 'GBR' 'GEO' 'GHA' 'GIB' 'GIN' 'GMB' 'GNB' 'GNQ' 'GRC'
 'GRD' 'GRL' 'GTM' 'GUM' 'GUY' 'HIC' 'HKG' 'HND' 'HPC' 'HRV' 'HTI' 'HUN'
 'IDN' 'IMN' 'IND' 'IRL' 'IRN' 'IRQ' 'ISL' 'ISR' 'ITA' 'JAM' 'JOR' 'JPN'
 'KAZ' 'KEN' 'KGZ' 'KHM' 'KIR' 'KNA' 'KOR' 'KWT' 'LAC' 'LAO' 'LBN' 'LBR'
 'LBY' 'LCA' 'LCN' 'LDC' 'LIC' 'LIE' 'LKA' 'LMC' 'LMY' 'LSO' 'LTU' 'LUX'
 'LVA' 'MAC' 'MAF' 'MAR' 'MCO' 'MDA' 'MDG' 'MDV' 'MEA' 'MEX' 'MHL' 'MIC'
 'MKD' 'MLI' 'MLT' 'MMR' 'MNA' 'MNE' 'MNG' 'MNP' 'MOZ' 'MRT' 'MUS' 'MWI'
 'MYS' 'NAC' 'NAM' 'NCL' 'NER' 'NGA' 'NIC' 'NLD' 'NOR' 'NPL' 'NRU' 'NZL'
 'OED' 'OMN' 'PAK' 'PAN' 'PER' 'PHL' 'PLW' 'PNG' 'POL' 'PRI' 'PRK' 'PRT'
 'PRY' 'PSE' 'PYF' 'QAT' 'ROU' 'RUS' 'RWA' 'SAS' 'SAU' 'SDN' 'SEN' 'SGP'
 'SLB' 'SLE' 'SLV' 'SMR' 'SOM' 'SRB' 'SSA' 'SSD' 'SSF' 'STP' 'SUR' 'SVK'
 'SVN' 'SWE' 'SWZ' 'SXM' 'SYC' 'SYR' 'TCA' 'TCD' 'TGO' 'THA' 'TJK' 'TKM'
 'TLS' 'TON' 'TTO' 'TUN' 'TUR' 'TUV' 'TZA' 'UGA' 'UKR' 'UMC' 'URY' 'USA'
 'UZB' 'VCT' 'VEN' 'VIR' 'VNM' 'VUT' 'WLD' 'WSM' 'XKX' 'YEM' 'ZAF' 'ZMB'
 'ZWE']


Unique values for Short Name: 241
['Aruba' 'Afghanistan' 'Angola' 'Albania' 'Andorra' 'Arab World'
 'United Arab Emirates' 'Argentina' 'Armenia' 'American Samoa'
 'Antigua and Barbuda' 'Australia' 'Austria' 'Azerbaijan' 'Burundi'
 'Belgium' 'Benin' 'Burkina Faso' 'Bangladesh' 'Bulgaria' 'Bahrain'
 'The Bahamas' 'Bosnia and Herzegovina' 'Belarus' 'Belize' 'Bermuda'
 'Bolivia' 'Brazil' 'Barbados' 'Brunei' 'Bhutan' 'Botswana'
 'Central African Republic' 'Canada' 'Switzerland' 'Channel Islands'
 'Chile' 'China' "Côte d'Ivoire" 'Cameroon' 'Dem. Rep. Congo' 'Congo'
 'Colombia' 'Comoros' 'Cabo Verde' 'Costa Rica' 'Cuba' 'Curaçao'
 'Cayman Islands' 'Cyprus' 'Czech Republic' 'Germany' 'Djibouti'
 'Dominica' 'Denmark' 'Dominican Republic' 'Algeria'
 'East Asia & Pacific (developing only)'
 'East Asia & Pacific (all income levels)'
 'Europe & Central Asia (developing only)'
 'Europe & Central Asia (all income levels)' 'Ecuador' 'Egypt' 'Euro area'
 'Eritrea' 'Spain' 'Estonia' 'Ethiopia' 'European Union' 'Finland' 'Fiji'
 'France' 'Faeroe Islands' 'Micronesia' 'Gabon' 'United Kingdom' 'Georgia'
 'Ghana' 'Gibraltar' 'Guinea' 'The Gambia' 'Guinea-Bissau'
 'Equatorial Guinea' 'Greece' 'Grenada' 'Greenland' 'Guatemala' 'Guam'
 'Guyana' 'High income' 'Hong Kong SAR, China' 'Honduras'
 'Heavily indebted poor countries (HIPC)' 'Croatia' 'Haiti' 'Hungary'
 'Indonesia' 'Isle of Man' 'India' 'Ireland' 'Iran' 'Iraq' 'Iceland'
 'Israel' 'Italy' 'Jamaica' 'Jordan' 'Japan' 'Kazakhstan' 'Kenya'
 'Kyrgyz Republic' 'Cambodia' 'Kiribati' 'St. Kitts and Nevis' 'Korea'
 'Kuwait' 'Latin America & Caribbean (developing only)' 'Lao PDR'
 'Lebanon' 'Liberia' 'Libya' 'St. Lucia'
 'Latin America & Caribbean (all income levels)'
 'Least developed countries: UN classification' 'Low income'
 'Liechtenstein' 'Sri Lanka' 'Lower middle income' 'Low & middle income'
 'Lesotho' 'Lithuania' 'Luxembourg' 'Latvia' 'Macao SAR, China'
 'St. Martin (French part)' 'Morocco' 'Monaco' 'Moldova' 'Madagascar'
 'Maldives' 'Middle East & North Africa (all income levels)' 'Mexico'
 'Marshall Islands' 'Middle income' 'Macedonia' 'Mali' 'Malta' 'Myanmar'
 'Middle East & North Africa (developing only)' 'Montenegro' 'Mongolia'
 'Northern Mariana Islands' 'Mozambique' 'Mauritania' 'Mauritius' 'Malawi'
 'Malaysia' 'North America' 'Namibia' 'New Caledonia' 'Niger' 'Nigeria'
 'Nicaragua' 'Netherlands' 'Norway' 'Nepal' 'Nauru' 'New Zealand'
 'OECD members' 'Oman' 'Pakistan' 'Panama' 'Peru' 'Philippines' 'Palau'
 'Papua New Guinea' 'Poland' 'Puerto Rico' "Dem. People's Rep. Korea"
 'Portugal' 'Paraguay' 'West Bank and Gaza' 'French Polynesia' 'Qatar'
 'Romania' 'Russia' 'Rwanda' 'South Asia' 'Saudi Arabia' 'Sudan' 'Senegal'
 'Singapore' 'Solomon Islands' 'Sierra Leone' 'El Salvador' 'San Marino'
 'Somalia' 'Serbia' 'Sub-Saharan Africa (developing only)' 'South Sudan'
 'Sub-Saharan Africa (all income levels)' 'São Tomé and Principe'
 'Suriname' 'Slovak Republic' 'Slovenia' 'Sweden' 'Swaziland'
 'Sint Maarten (Dutch part)' 'Seychelles' 'Syrian Arab Republic'
 'Turks and Caicos Islands' 'Chad' 'Togo' 'Thailand' 'Tajikistan'
 'Turkmenistan' 'Timor-Leste' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Tuvalu' 'Tanzania' 'Uganda' 'Ukraine' 'Upper middle income'
 'Uruguay' 'United States' 'Uzbekistan' 'St. Vincent and the Grenadines'
 'Venezuela' 'Virgin Islands' 'Vietnam' 'Vanuatu' 'World' 'Samoa' 'Kosovo'
 'Yemen' 'South Africa' 'Zambia' 'Zimbabwe']


Unique values for Table Name: 241
['Aruba' 'Afghanistan' 'Angola' 'Albania' 'Andorra' 'Arab World'
 'United Arab Emirates' 'Argentina' 'Armenia' 'American Samoa'
 'Antigua and Barbuda' 'Australia' 'Austria' 'Azerbaijan' 'Burundi'
 'Belgium' 'Benin' 'Burkina Faso' 'Bangladesh' 'Bulgaria' 'Bahrain'
 'Bahamas, The' 'Bosnia and Herzegovina' 'Belarus' 'Belize' 'Bermuda'
 'Bolivia' 'Brazil' 'Barbados' 'Brunei Darussalam' 'Bhutan' 'Botswana'
 'Central African Republic' 'Canada' 'Switzerland' 'Channel Islands'
 'Chile' 'China' "Côte d'Ivoire" 'Cameroon' 'Congo, Dem. Rep.'
 'Congo, Rep.' 'Colombia' 'Comoros' 'Cabo Verde' 'Costa Rica' 'Cuba'
 'Curaçao' 'Cayman Islands' 'Cyprus' 'Czech Republic' 'Germany' 'Djibouti'
 'Dominica' 'Denmark' 'Dominican Republic' 'Algeria' 'East Asia & Pacific'
 'East Asia & Pacific (all income levels)' 'Europe & Central Asia'
 'Europe & Central Asia (all income levels)' 'Ecuador' 'Egypt, Arab Rep.'
 'Euro area' 'Eritrea' 'Spain' 'Estonia' 'Ethiopia' 'European Union'
 'Finland' 'Fiji' 'France' 'Faeroe Islands' 'Micronesia, Fed. Sts.'
 'Gabon' 'United Kingdom' 'Georgia' 'Ghana' 'Gibraltar' 'Guinea'
 'Gambia, The' 'Guinea-Bissau' 'Equatorial Guinea' 'Greece' 'Grenada'
 'Greenland' 'Guatemala' 'Guam' 'Guyana' 'High income'
 'Hong Kong SAR, China' 'Honduras'
 'Heavily indebted poor countries (HIPC)' 'Croatia' 'Haiti' 'Hungary'
 'Indonesia' 'Isle of Man' 'India' 'Ireland' 'Iran, Islamic Rep.' 'Iraq'
 'Iceland' 'Israel' 'Italy' 'Jamaica' 'Jordan' 'Japan' 'Kazakhstan'
 'Kenya' 'Kyrgyz Republic' 'Cambodia' 'Kiribati' 'St. Kitts and Nevis'
 'Korea, Rep.' 'Kuwait' 'Latin America & Caribbean' 'Lao PDR' 'Lebanon'
 'Liberia' 'Libya' 'St. Lucia'
 'Latin America & Caribbean (all income levels)'
 'Least developed countries: UN classification' 'Low income'
 'Liechtenstein' 'Sri Lanka' 'Lower middle income' 'Low & middle income'
 'Lesotho' 'Lithuania' 'Luxembourg' 'Latvia' 'Macao SAR, China'
 'St. Martin (French part)' 'Morocco' 'Monaco' 'Moldova' 'Madagascar'
 'Maldives' 'Middle East & North Africa (all income levels)' 'Mexico'
 'Marshall Islands' 'Middle income' 'Macedonia, FYR' 'Mali' 'Malta'
 'Myanmar' 'Middle East & North Africa' 'Montenegro' 'Mongolia'
 'Northern Mariana Islands' 'Mozambique' 'Mauritania' 'Mauritius' 'Malawi'
 'Malaysia' 'North America' 'Namibia' 'New Caledonia' 'Niger' 'Nigeria'
 'Nicaragua' 'Netherlands' 'Norway' 'Nepal' 'Nauru' 'New Zealand'
 'OECD members' 'Oman' 'Pakistan' 'Panama' 'Peru' 'Philippines' 'Palau'
 'Papua New Guinea' 'Poland' 'Puerto Rico' 'Korea, Dem. Rep.' 'Portugal'
 'Paraguay' 'West Bank and Gaza' 'French Polynesia' 'Qatar' 'Romania'
 'Russian Federation' 'Rwanda' 'South Asia' 'Saudi Arabia' 'Sudan'
 'Senegal' 'Singapore' 'Solomon Islands' 'Sierra Leone' 'El Salvador'
 'San Marino' 'Somalia' 'Serbia' 'Sub-Saharan Africa' 'South Sudan'
 'Sub-Saharan Africa (all income levels)' 'São Tomé and Principe'
 'Suriname' 'Slovak Republic' 'Slovenia' 'Sweden' 'Swaziland'
 'Sint Maarten (Dutch part)' 'Seychelles' 'Syrian Arab Republic'
 'Turks and Caicos Islands' 'Chad' 'Togo' 'Thailand' 'Tajikistan'
 'Turkmenistan' 'Timor-Leste' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Tuvalu' 'Tanzania' 'Uganda' 'Ukraine' 'Upper middle income'
 'Uruguay' 'United States' 'Uzbekistan' 'St. Vincent and the Grenadines'
 'Venezuela, RB' 'Virgin Islands (U.S.)' 'Vietnam' 'Vanuatu' 'World'
 'Samoa' 'Kosovo' 'Yemen, Rep.' 'South Africa' 'Zambia' 'Zimbabwe']


Unique values for Long Name: 241
['Aruba' 'Islamic State of Afghanistan' "People's Republic of Angola"
 'Republic of Albania' 'Principality of Andorra' 'Arab World'
 'United Arab Emirates' 'Argentine Republic' 'Republic of Armenia'
 'American Samoa' 'Antigua and Barbuda' 'Commonwealth of Australia'
 'Republic of Austria' 'Republic of Azerbaijan' 'Republic of Burundi'
 'Kingdom of Belgium' 'Republic of Benin' 'Burkina Faso'
 "People's Republic of Bangladesh" 'Republic of Bulgaria'
 'Kingdom of Bahrain' 'Commonwealth of The Bahamas'
 'Bosnia and Herzegovina' 'Republic of Belarus' 'Belize' 'The Bermudas'
 'Plurinational State of Bolivia' 'Federative Republic of Brazil'
 'Barbados' 'Brunei Darussalam' 'Kingdom of Bhutan' 'Republic of Botswana'
 'Central African Republic' 'Canada' 'Switzerland' 'Channel Islands'
 'Republic of Chile' "People's Republic of China"
 "Republic of Côte d'Ivoire" 'Republic of Cameroon'
 'Democratic Republic of the Congo' 'Republic of Congo'
 'Republic of Colombia' 'Union of the Comoros' 'Republic of Cabo Verde'
 'Republic of Costa Rica' 'Republic of Cuba' 'Curaçao' 'Cayman Islands'
 'Republic of Cyprus' 'Czech Republic' 'Federal Republic of Germany'
 'Republic of Djibouti' 'Commonwealth of Dominica' 'Kingdom of Denmark'
 'Dominican Republic' "People's Democratic Republic of Algeria"
 'East Asia & Pacific (developing only)'
 'East Asia & Pacific (all income levels)'
 'Europe & Central Asia (developing only)'
 'Europe & Central Asia (all income levels)' 'Republic of Ecuador'
 'Arab Republic of Egypt' 'Euro area' 'State of Eritrea'
 'Kingdom of Spain' 'Republic of Estonia'
 'Federal Democratic Republic of Ethiopia' 'European Union'
 'Republic of Finland' 'Republic of Fiji' 'French Republic'
 'Faeroe Islands' 'Federated States of Micronesia' 'Gabonese Republic'
 'United Kingdom of Great Britain and Northern Ireland' 'Georgia'
 'Republic of Ghana' 'Gibraltar' 'Republic of Guinea'
 'Republic of The Gambia' 'Republic of Guinea-Bissau'
 'Republic of Equatorial Guinea' 'Hellenic Republic' 'Grenada' 'Greenland'
 'Republic of Guatemala' 'Guam' 'Co-operative Republic of Guyana'
 'High income'
 "Hong Kong Special Administrative Region of the People's Republic of China"
 'Republic of Honduras' 'Heavily indebted poor countries (HIPC)'
 'Republic of Croatia' 'Republic of Haiti' 'Hungary'
 'Republic of Indonesia' 'Isle of Man' 'Republic of India' 'Ireland'
 'Islamic Republic of Iran' 'Republic of Iraq' 'Republic of Iceland'
 'State of Israel' 'Italian Republic' 'Jamaica'
 'Hashemite Kingdom of Jordan' 'Japan' 'Republic of Kazakhstan'
 'Republic of Kenya' 'Kyrgyz Republic' 'Kingdom of Cambodia'
 'Republic of Kiribati' 'St. Kitts and Nevis' 'Republic of Korea'
 'State of Kuwait' 'Latin America & Caribbean (developing only)'
 "Lao People's Democratic Republic" 'Lebanese Republic'
 'Republic of Liberia' "Socialist People's Libyan Arab Jamahiriya"
 'St. Lucia' 'Latin America & Caribbean (all income levels)'
 'Least developed countries: UN classification' 'Low income'
 'Principality of Liechtenstein'
 'Democratic Socialist Republic of Sri Lanka' 'Lower middle income'
 'Low & middle income' 'Kingdom of Lesotho' 'Republic of Lithuania'
 'Grand Duchy of Luxembourg' 'Republic of Latvia'
 "Macao Special Administrative Region of the People's Republic of China"
 'St. Martin (French part)' 'Kingdom of Morocco' 'Principality of Monaco'
 'Republic of Moldova' 'Republic of Madagascar' 'Republic of Maldives'
 'Middle East & North Africa (all income levels)' 'United Mexican States'
 'Republic of the Marshall Islands' 'Middle income'
 'Former Yugoslav Republic of Macedonia' 'Republic of Mali'
 'Republic of Malta' 'Republic of the Union of Myanmar'
 'Middle East & North Africa (developing only)' 'Montenegro' 'Mongolia'
 'Commonwealth of the Northern Mariana Islands' 'Republic of Mozambique'
 'Islamic Republic of Mauritania' 'Republic of Mauritius'
 'Republic of Malawi' 'Malaysia' 'North America' 'Republic of Namibia'
 'New Caledonia' 'Republic of Niger' 'Federal Republic of Nigeria'
 'Republic of Nicaragua' 'Kingdom of the Netherlands' 'Kingdom of Norway'
 'Nepal' 'Nauru' 'New Zealand' 'OECD members' 'Sultanate of Oman'
 'Islamic Republic of Pakistan' 'Republic of Panama' 'Republic of Peru'
 'Republic of the Philippines' 'Republic of Palau'
 'The Independent State of Papua New Guinea' 'Republic of Poland'
 'Puerto Rico' "Democratic People's Republic of Korea"
 'Portuguese Republic' 'Republic of Paraguay' 'West Bank and Gaza'
 'French Polynesia' 'State of Qatar' 'Romania' 'Russian Federation'
 'Republic of Rwanda' 'South Asia' 'Kingdom of Saudi Arabia'
 'Republic of the Sudan' 'Republic of Senegal' 'Republic of Singapore'
 'Solomon Islands' 'Republic of Sierra Leone' 'Republic of El Salvador'
 'Republic of San Marino' 'Somali Democratic Republic'
 'Republic of Serbia' 'Sub-Saharan Africa (developing only)'
 'Republic of South Sudan' 'Sub-Saharan Africa (all income levels)'
 'Democratic Republic of São Tomé and Principe' 'Republic of Suriname'
 'Slovak Republic' 'Republic of Slovenia' 'Kingdom of Sweden'
 'Kingdom of Swaziland' 'Sint Maarten (Dutch part)'
 'Republic of Seychelles' 'Syrian Arab Republic'
 'Turks and Caicos Islands' 'Republic of Chad' 'Republic of Togo'
 'Kingdom of Thailand' 'Republic of Tajikistan' 'Turkmenistan'
 'Democratic Republic of Timor-Leste' 'Kingdom of Tonga'
 'Republic of Trinidad and Tobago' 'Republic of Tunisia'
 'Republic of Turkey' 'Tuvalu' 'United Republic of Tanzania'
 'Republic of Uganda' 'Ukraine' 'Upper middle income'
 'Oriental Republic of Uruguay' 'United States of America'
 'Republic of Uzbekistan' 'St. Vincent and the Grenadines'
 'República Bolivariana de Venezuela'
 'Virgin Islands of the United States' 'Socialist Republic of Vietnam'
 'Republic of Vanuatu' 'World' 'Samoa' 'Republic of Kosovo'
 'Republic of Yemen' 'Republic of South Africa' 'Republic of Zambia'
 'Republic of Zimbabwe']


Unique values for 2-alpha code: 238
['AW' 'AF' 'AO' 'AL' 'AD' '1A' 'AE' 'AR' 'AM' 'AS' 'AG' 'AU' 'AT' 'AZ'
 'BI' 'BE' 'BJ' 'BF' 'BD' 'BG' 'BH' 'BS' 'BA' 'BY' 'BZ' 'BM' 'BO' 'BR'
 'BB' 'BN' 'BT' 'BW' 'CF' 'CA' 'CH' nan 'CL' 'CN' 'CI' 'CM' 'CD' 'CG' 'CO'
 'KM' 'CV' 'CR' 'CU' 'CW' 'KY' 'CY' 'CZ' 'DE' 'DJ' 'DM' 'DK' 'DO' 'DZ'
 '4E' 'Z4' '7E' 'Z7' 'EC' 'EG' 'XC' 'ER' 'ES' 'EE' 'ET' 'EU' 'FI' 'FJ'
 'FR' 'FO' 'FM' 'GA' 'GB' 'GE' 'GH' 'GI' 'GN' 'GM' 'GW' 'GQ' 'GR' 'GD'
 'GL' 'GT' 'GU' 'GY' 'XD' 'HK' 'HN' 'XE' 'HR' 'HT' 'HU' 'ID' 'IM' 'IN'
 'IE' 'IR' 'IQ' 'IS' 'IL' 'IT' 'JM' 'JO' 'JP' 'KZ' 'KE' 'KG' 'KH' 'KI'
 'KN' 'KR' 'KW' 'XJ' 'LA' 'LB' 'LR' 'LY' 'LC' 'ZJ' 'XL' 'XM' 'LI' 'LK'
 'XN' 'XO' 'LS' 'LT' 'LU' 'LV' 'MO' 'MF' 'MA' 'MC' 'MD' 'MG' 'MV' 'ZQ'
 'MX' 'MH' 'XP' 'MK' 'ML' 'MT' 'MM' 'XQ' 'ME' 'MN' 'MP' 'MZ' 'MR' 'MU'
 'MW' 'MY' 'XU' 'NC' 'NE' 'NG' 'NI' 'NL' 'NO' 'NP' 'NR' 'NZ' 'OE' 'OM'
 'PK' 'PA' 'PE' 'PH' 'PW' 'PG' 'PL' 'PR' 'KP' 'PT' 'PY' 'PS' 'PF' 'QA'
 'RO' 'RU' 'RW' '8S' 'SA' 'SD' 'SN' 'SG' 'SB' 'SL' 'SV' 'SM' 'SO' 'RS'
 'ZF' 'SS' 'ZG' 'ST' 'SR' 'SK' 'SI' 'SE' 'SZ' 'SX' 'SC' 'SY' 'TC' 'TD'
 'TG' 'TH' 'TJ' 'TM' 'TL' 'TO' 'TT' 'TN' 'TR' 'TV' 'TZ' 'UG' 'UA' 'XT'
 'UY' 'US' 'UZ' 'VC' 'VE' 'VI' 'VN' 'VU' '1W' 'WS' 'YE' 'ZA' 'ZM' 'ZW']


Unique values for Currency Unit: 152
['Aruban florin' 'Afghan afghani' 'Angolan kwanza' 'Albanian lek' 'Euro'
 nan 'U.A.E. dirham' 'Argentine peso' 'Armenian dram' 'U.S. dollar'
 'East Caribbean dollar' 'Australian dollar' 'New Azeri manat'
 'Burundi franc' 'CFA franc' 'Bangladeshi taka' 'Bulgarian lev'
 'Bahraini dinar' 'Bahamian dollar'
 'Bosnia and Herzegovina convertible mark' 'Belarusian rubel'
 'Belize dollar' 'Bermuda dollar' 'Bolivian Boliviano' 'Brazilian real'
 'Barbados dollar' 'Brunei dollar' 'Bhutanese ngultrum' 'Botswana pula'
 'Canadian dollar' 'Swiss franc' 'Pound sterling' 'Chilean peso'
 'Chinese yuan' 'Congolese franc' 'Colombian peso' 'Comorian franc'
 'Cabo Verde escudo' 'Costa Rican colon' 'Cuban peso'
 'Netherlands Antilles guilder' 'Cayman Islands dollar' 'Czech koruna'
 'Djibouti franc' 'Danish krone' 'Dominican peso' 'Algerian dinar'
 'Egyptian pound' 'Eritrean nakfa' 'Ethiopian birr' 'Fijian dollar'
 'Georgian lari' 'New Ghanaian cedi' 'Gibraltar pound' 'Guinean franc'
 'Gambian dalasi' 'Guatemalan quetzal' 'Guyana dollar' 'Hong Kong dollar'
 'Honduran lempira' 'Croatian kuna' 'Haitian gourde' 'Hungarian forint'
 'Indonesian rupiah' 'Indian rupee' 'Iranian rial' 'Iraqi dinar'
 'Iceland krona' 'Israeli new shekel' 'Jamaican dollar' 'Jordanian dinar'
 'Japanese yen' 'Kazakh tenge' 'Kenyan shilling' 'Kyrgyz som'
 'Cambodian riel' 'Korean won' 'Kuwaiti dinar' 'Lao kip' 'Lebanese pound'
 'Liberian dollar' 'Libyan dinar' 'Sri Lankan rupee' 'Lesotho loti'
 'Lithuanian litas' 'Latvian lats' 'Macao pataca' 'Moroccan dirham'
 'Moldovan leu' 'Malagasy ariary' 'Maldivian rufiyaa' 'Mexican peso'
 'Macedonian denar' 'Myanmar kyat' 'Mongolian tugrik'
 'New Mozambican metical' 'Mauritanian ouguiya' 'Mauritian rupee'
 'Malawi kwacha' 'Malaysian ringgit' 'Namibian dollar' 'CFP franc'
 'Nigerian naira' 'Nicaraguan gold cordoba' 'Norwegian krone'
 'Nepalese rupee' 'New Zealand dollar' 'Rial Omani' 'Pakistani rupee'
 'Panamanian balboa' 'Peruvian new sol' 'Philippine peso'
 'Papua New Guinea kina' 'Polish zloty'
 "Democratic People's Republic of Korean won" 'Paraguayan guarani'
 'Qatari riyal' 'New Romanian leu' 'Russian ruble' 'Rwandan franc'
 'Saudi Arabian riyal' 'Sudanese pound' 'Singapore dollar'
 'Solomon Islands dollar' 'Sierra Leonean leone' 'Somali shilling'
 'New Serbian dinar' 'South Sudanese Pound' 'São Tomé and Principe dobra'
 'Suriname dollar' 'Swedish krona' 'Swaziland lilangeni'
 'Seychelles rupee' 'Syrian pound' 'Thai baht' 'Tajik somoni'
 'New Turkmen manat' "Tongan pa'anga" 'Trinidad and Tobago dollar'
 'Tunisian dinar' 'New Turkish lira' 'Tanzanian shilling'
 'Ugandan shilling' 'Ukrainian hryvnia' 'Uruguayan peso' 'Uzbek sum'
 'Venezuelan bolivar fuerte' 'Vietnamese dong' 'Vanuatu vatu'
 'Samoan tala' 'Yemeni rial' 'South African rand' 'New Zambian kwacha']


Unique values for Special Notes: 131
['SNA data for 2000-2011 are updated from official government statistics; 1994-1999 from UN databases. Base year has changed from 1995 to 2000.'
 'Fiscal year end: March 20; reporting period for national accounts data: FY (from 2013 are CY). National accounts data are sourced from the IMF and differ from the Central Statistics Organization numbers due to exclusion of the opium economy.'
 'April 2013 database update: Based on IMF data, national accounts data were revised for 2000 onward; the base year changed to 2002.'
 nan
 'Arab World aggregate. Arab World is composed of members of the League of Arab States.'
 'April 2013 database update: Based on data from the National Bureau of Statistics, national accounts data were revised for 2001 onward; the base year changed to 2007.'
 'April 2012 database update: Based on official government statistics, national accounts data were revised for 2000 onward; the base year changed to 2006.'
 'Fiscal year end: June 30; reporting period for national accounts data: FY. Value added current series updated by the Australian Bureau of Statistics; data revised from 1990 onward; Australia reports using SNA 2008.'

> <u>Notes:</u>
>
> The EdStatsCountry dataset provides metadata on 241 countries, covering aspects such as country codes, names, regions, and income groups. While the dataset contains 32 columns, some of them, like "Unnamed: 31", appear to be redundant or entirely empty. Special attention will need to be given to these columns during the data cleaning phase. The presence of 7 unique regions offers a perspective for grouping and analyzing countries based on geographical criteria.

[Back to top](#top)

### 3 - <u>EdStatsCountry-Series :</u><a id='stats-country-series'></a>

In [186]:
# Exploring EdStatsCountry-Series
explore_df(COUNTRY_SERIES, "EdStatsCountry-Series")

Exploration of EdStatsCountry-Series



1. Preview the first and last line of EdStatsCountry-Series

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...,NaN

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
608,ZAF,SP.POP.GROW,"Data sources : Statistics South Africa, United...",NaN
609,ZMB,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
610,ZMB,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
611,ZWE,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
612,ZWE,SP.POP.GROW,Data sources: United Nations World Population ...,NaN

2. General information about EdStatsCountry-Series

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryCode  613 non-null    object
 1   SeriesCode   613 non-null    object
 2   DESCRIPTION  613 non-null    object
 3   Unnamed: 3   0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 19.3+ KB
3. Data types in EdStatsCountry-Series

object     3
float64    1
dtype: int64
4. Missing values in EdStatsCountry-Series

Displaying all columns with missing data:

            Missing Values  Missing Percentages (%)
Unnamed: 3             613                    100.0

5. Duplicate rows in EdStatsCountry-Series

There are no duplicate rows.
6. Descriptive statistics for EdStatsCountry-Series

       Unnamed: 3
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

7. Unique values for categorical columns of EdStatsCountry-Series

Unique values for CountryCode: 211
['ABW' 'AFG' 'AGO' 'ALB' 'AND' 'ARE' 'ARG' 'ARM' 'ASM' 'ATG' 'AUS' 'AUT'
 'AZE' 'BDI' 'BEL' 'BEN' 'BFA' 'BGD' 'BGR' 'BHR' 'BHS' 'BIH' 'BLR' 'BLZ'
 'BMU' 'BOL' 'BRA' 'BRB' 'BRN' 'BTN' 'BWA' 'CAF' 'CAN' 'CHE' 'CHI' 'CHL'
 'CHN' 'CIV' 'CMR' 'COD' 'COG' 'COL' 'COM' 'CPV' 'CRI' 'CUB' 'CYM' 'CYP'
 'CZE' 'DEU' 'DJI' 'DMA' 'DNK' 'DOM' 'DZA' 'ECU' 'EGY' 'ERI' 'ESP' 'EST'
 'ETH' 'FIN' 'FJI' 'FRA' 'FRO' 'FSM' 'GAB' 'GBR' 'GEO' 'GHA' 'GIB' 'GIN'
 'GMB' 'GNB' 'GNQ' 'GRC' 'GRD' 'GRL' 'GTM' 'GUM' 'GUY' 'HKG' 'HND' 'HRV'
 'HTI' 'HUN' 'IDN' 'IMN' 'IND' 'IRL' 'IRN' 'IRQ' 'ISL' 'ISR' 'ITA' 'JAM'
 'JOR' 'JPN' 'KAZ' 'KEN' 'KGZ' 'KHM' 'KIR' 'KNA' 'KOR' 'KWT' 'LAO' 'LBN'
 'LBR' 'LBY' 'LCA' 'LIE' 'LKA' 'LSO' 'LTU' 'LUX' 'LVA' 'MAC' 'MAR' 'MCO'
 'MDA' 'MDG' 'MDV' 'MEX' 'MHL' 'MKD' 'MLI' 'MLT' 'MMR' 'MNE' 'MNG' 'MNP'
 'MOZ' 'MRT' 'MUS' 'MWI' 'MYS' 'NAM' 'NCL' 'NER' 'NGA' 'NIC' 'NLD' 'NOR'
 'NPL' 'NZL' 'OMN' 'PAK' 'PAN' 'PER' 'PHL' 'PLW' 'PNG' 'POL' 'PRI' 'PRK'
 'PRT' 'PRY' 'PSE' 'PYF' 'QAT' 'ROU' 'RUS' 'RWA' 'SAU' 'SDN' 'SEN' 'SGP'
 'SLB' 'SLE' 'SLV' 'SMR' 'SOM' 'SRB' 'STP' 'SUR' 'SVK' 'SVN' 'SWE' 'SWZ'
 'SYC' 'SYR' 'TCA' 'TCD' 'TGO' 'THA' 'TJK' 'TKM' 'TLS' 'TON' 'TTO' 'TUN'
 'TUR' 'TUV' 'TZA' 'UGA' 'UKR' 'URY' 'USA' 'UZB' 'VCT' 'VEN' 'VIR' 'VNM'
 'VUT' 'WSM' 'XKX' 'YEM' 'ZAF' 'ZMB' 'ZWE']


Unique values for SeriesCode: 21
['SP.POP.TOTL' 'SP.POP.GROW' 'NY.GDP.PCAP.PP.CD' 'NY.GDP.MKTP.PP.KD'
 'NY.GNP.MKTP.PP.CD' 'NY.GDP.MKTP.PP.CD' 'NY.GDP.PCAP.PP.KD'
 'NY.GNP.PCAP.PP.CD' 'SP.POP.1564.TO.ZS' 'SP.POP.TOTL.MA.ZS'
 'SP.POP.TOTL.FE.ZS' 'SP.POP.0014.TO.ZS' 'NY.GNP.PCAP.CD' 'NY.GDP.PCAP.CD'
 'NY.GDP.PCAP.KD' 'SP.POP.1564.MA.IN' 'SP.POP.0014.TO' 'SP.POP.1564.TO'
 'SP.POP.1564.FE.IN' 'SP.POP.0014.MA.IN' 'SP.POP.0014.FE.IN']


Unique values for DESCRIPTION: 97
['Data sources : United Nations World Population Prospects'
 'Data sources: United Nations World Population Prospects'
 'Estimates are based on regression.'
 'Data sources : Institute of Statistics, Eurostat'
 'Data sources : Australian Bureau of Statistics'
 'Including Other Territories comprising Jervis Bay Territory, Christmas Island and the Cocos (Keeling) Islands. '
 'Data sources: Australian Bureau of Statistics' 'Data sources : Eurostat'
 'Data sources : Eurostat, State Statistical Committee, United Nations World Population Prospects'
 'Data sources: Eurostat, State Statistical Committee, United Nations World Population Prospects'
 'Data sources : National Statistical Committee of the Republic of Belarus'
 'Data sources: National Statistical Committee of the Republic of Belarus'
 'Data sources : Bermuda Government Department of Statistics'
 'Data sources: Bermuda Government Department of Statistics'
 'Data sources : Statistics Canada' 'Data sources: Statistics Canada'
 'Refers to Guernsey, and Jersey.'
 'Data sources : National Bureau of Statistics'
 'Excluding Hong Kong SAR, Macao SAR, Taiwan.'
 'Data sources: National Bureau of Statistics'
 'Data are for areas under the effective control of the Government of the Republic of Cyprus.'
 'Including Northern-Cyprus.'
 'Data sources: Eurostat, United Nations World Population Prospects. Including the French overseas departments of French Guiana, Guadeloupe, Martinique, Mayotte, and Réunion.'
 'Including the four French overseas departments (French Guyana, Guadeloupe, Martinique and Réunion)'
 'Data sources : Eurostat, United Nations World Population Prospects. Including the French overseas departments of French Guiana, Guadeloupe, Martinique, Mayotte, and Réunion.'
 'Data sources: Eurostat'
 'Data sources : GeoStats. GeoStats. Adjusted to mid-year population using geometric mean for the years where mid-year population figures are not available. Excluding Abkhazia and South Ossetia.'
 'Including Abkhazia and South Ossetia.'
 'Excludes Abkhazia and South Ossetia.'
 'Derived using ratio of age group from WPP and World Bank population.'
 'Data sources: GeoStats. GeoStats. Adjusted to mid-year population using geometric mean for the years where mid-year population figures are not available. Excluding Abkhazia and South Ossetia.'
 'Excluding Abkhazia and South Ossetia.'
 'Data sources: Statistics Greenland'
 'Data sources : Statistics Greenland'
 'Data sources: Census and Statistics Department'
 'Data sources : Census and Statistics Department'
 'Data sources: Croatian Bureau of Statistics, Council of Europe'
 'Data sources : Croatian Bureau of Statistics, Council of Europe'
 'Data sources: Central Bureau of Statistics'
 'Data sources : Central Bureau of Statistics'
 'Data sources: Ministry of Internal Affairs and Communications, Statistics Bureau; United Nations Population and Vital Statistics Report'
 'Data sources : Ministry of Internal Affairs and Communications, Statistics Bureau; United Nations Population and Vital Statistics Report'
 'Data sources : Statistical Agency of Kazakhstan, 1979 Census, 1989 Census, United Nations World Population Prospects'
 'Data sources: Statistical Agency of Kazakhstan, 1979 Census, 1989 Census, United Nations World Population Prospects'
 'Data sources : National Statistical Committee, United Nations World Population Prospects'
 'Data sources: National Statistical Committee, United Nations World Population Prospects'
 'Data sources : Korean Statistical Information Service'
 'Data sources: Korean Statistical Information Service'
 "Data sources : Registrar General's Department, Department of Census and Statistics"
 "Data sources: Registrar General's Department, Department of Census and Statistics"
 'Includes Former Spanish Sahara.'
 'Morocco only. (Excluding former Spanish Sahara)'
 "Data sources : National Bureau of Statistics. Excluding Transnistria. For 1950-94, World Bank estimates using UN World Population Prospects' growth rates of whole Moldova."
 'Excludes Transnistria.' 'Including Transnistria.'
 "Data sources: National Bureau of Statistics. Excluding Transnistria. For 1950-94, World Bank estimates using UN World Population Prospects 2010 Revision's growth rates of whole Moldova."
 'Excluding Transnistria.'
 'Data sources : For 1960-1989, United Nations World Population Prospects. For 1990 onwards, 1990, 1995, 2000, 2006, 2014 censuses, and data on expatriate employment from Maldives National Bureau of Statistics. The census data are adjusted for mid-year and for foreign population.'
 'Data sources: For 1960-1989, United Nations World Population Prospects. For 1990 onwards, 1990, 1995, 2000, 2006, 2014 censuses, and data on expatriate employment from Maldives National Bureau of Statistics. The census data are adjusted for mid-year and for foreign population.'
 'Data sources : For years after 2000, Statistical Office of Montenegro. For years 1960-1999, growth rates of United Nations World Population Prospects were used to estimate backwards.'
 'Data sources : Statistics Mauritius, United Nations World Population Prospects'
 'Including Agalega and St. Brandon.'
 'Data sources: Central Statistics Office, United Nations Population and Vital Statistics Report, United Nations World Population Prospects'
 'Excluding Agalega and St. Brandon.' 'Including Sabah and Sarawak.'
 'Data sources : Institute of Statistics and Economic Studies'
 'Data sources: Institute of Statistics and Economic Studies, 1983 Census, 1989 Census, 1996 Census'
 'Data sources: Statistics New Zealand'
 'Data sources : Statistics New Zealand'
 'Data sources : U.S. Census Bureau, 1990 Census'
 'Data sources: U.S. Census Bureau, 1990 Census'
 'Data sources : World Bank estimates based on data from Palestinian Central Bureau of Statistics, excluding E. Jerusalem.'
 'Excluding East Jerusalem.'
 'Data sources: World Bank estimates based on data from Palestinian Central Bureau of Statistics, excluding E. Jerusalem.'
 'Data sources : Russian Federation Federal State Statistics Service (its January 1st populations were adjusted to mid-year populations by using geometric mean), 1979 Census, 1989 Census.'
 'Data sources : United Nations World Population Prospects. Estimates are for Sudan excluding South Sudan.'
 'Data sources: Department of Statistics Singapore'
 'Data sources : Department of Statistics Singapore'
 'Data sources: Statistical Office of the Republic of Serbia, Eurostat, TransMONEE, Council of Europe. Excluding Kosovo for all years 1950-2011'
 'Including Kosovo.'
 'Data sources : Statistical Office of the Republic of Serbia, Eurostat, TransMONEE, Council of Europe. Note : Excluding Kosovo.'
 'Excluding Kosovo.' 'Covers mainland Tanzania only.'
 'Including Zanzibar.'
 'Data sources : State Statistics Committee of Ukraine, United Nations World Population Prospects, Council of Europe, United Nations Population and Vital Statistics Report'
 'Data sources: State Statistics Committee of Ukraine, United Nations World Population Prospects, Council of Europe, United Nations Population and Vital Statistics Report'
 'Data sources : U.S. Census Bureau' 'Data sources: U.S. Census Bureau'
 'Data sources : State Committee of the Republic of Uzbekistan on Statistics, United Nations World Population Prospects'
 'Based on official exchange rates.'
 'Data sources : U.S. Census Bureau, United Nations Population and Vital Statistics Report'
 'Data sources: U.S. Census Bureau, United Nations Population and Vital Statistics Report'
 'Data sources: General Statistics Office of Vietnam'
 'Data sources : General Statistics Office of Vietnam'
 "Data sources : World Bank's Kosovo coutnry office, Kosovo Agency of Statistics, U.S. Census Bureau"
 "Data sources: World Bank's Kosovo coutnry office, Kosovo Agency of Statistics, U.S. Census Bureau"
 'Data sources : Statistics South Africa, United Nations World Population Prospects']



 8. Dimensions of EdStatsCountry-Series

Number of lines: 613
Number of columns: 4

> <u>Notes:</u>
>
> The EdStatsCountry-Series dataset contains metadata related to 211 countries and 21 unique series codes. Although the dataset is relatively smaller with 613 rows and 4 columns, it provides valuable information about the source of indicators for each country. The "Unnamed: 3" column appears to be an accidental addition and will need to be addressed during the data cleaning phase.

[Back to top](#top)

### 4 - <u>EdStatsSeries :</u><a id='stats-series'></a>

In [187]:
# Exploring EdStatsSeries
explore_df(SERIES, "EdStatsSeries")

Exploration of EdStatsSeries



1. Preview the first and last line of EdStatsSeries

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
3660,UIS.XUNIT.USCONST.3.FSGOV,Expenditures,Government expenditure per upper secondary stu...,NaN,"Average total (current, capital and transfers)...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3661,UIS.XUNIT.USCONST.4.FSGOV,Expenditures,Government expenditure per post-secondary non-...,NaN,"Average total (current, capital and transfers)...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3662,UIS.XUNIT.USCONST.56.FSGOV,Expenditures,Government expenditure per tertiary student (c...,NaN,"Average total (current, capital and transfers)...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3663,XGDP.23.FSGOV.FDINSTADM.FFD,Expenditures,Government expenditure in secondary institutio...,"Total general (local, regional and central) go...","Total general (local, regional and central) go...",NaN,NaN,NaN,Secondary,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3664,XGDP.56.FSGOV.FDINSTADM.FFD,Expenditures,Government expenditure in tertiary institution...,"Total general (local, regional and central) go...","Total general (local, regional and central) go...",NaN,NaN,NaN,Tertiary,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2. General information about EdStatsSeries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 21 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Series Code                          3665 non-null   object
 1   Topic                                3665 non-null   object
 2   Indicator Name                       3665 non-null   object
 3   Short definition                     2156 non-null   object
 4   Long definition                      3665 non-null   object
 5   Unit of measure                      0 non-null      float64
 6   Periodicity                          99 non-null     object
 7   Base Period                          314 non-null    object
 8   Other notes                          552 non-null    object
 9   Aggregation method                   47 non-null     object
 10  Limitations and exceptions           14 non-null     object
 11  Notes from original source           0 non-null      float64
 12  General comments                     14 non-null     object
 13  Source                               3665 non-null   object
 14  Statistical concept and methodology  23 non-null     object
 15  Development relevance                3 non-null      object
 16  Related source links                 215 non-null    object
 17  Other web links                      0 non-null      float64
 18  Related indicators                   0 non-null      float64
 19  License Type                         0 non-null      float64
 20  Unnamed: 20                          0 non-null      float64
dtypes: float64(6), object(15)
memory usage: 601.4+ KB
3. Data types in EdStatsSeries

object     15
float64     6
dtype: int64
4. Missing values in EdStatsSeries

Displaying all columns with missing data:

                                     Missing Values  Missing Percentages (%)
Unit of measure                                3665                   100.00
Notes from original source                     3665                   100.00
Other web links                                3665                   100.00
Related indicators                             3665                   100.00
License Type                                   3665                   100.00
Unnamed: 20                                    3665                   100.00
Development relevance                          3662                    99.92
Limitations and exceptions                     3651                    99.62
General comments                               3651                    99.62
Statistical concept and methodology            3642                    99.37
Aggregation method                             3618                    98.72
Periodicity                                    3566                    97.30
Related source links                           3450                    94.13
Base Period                                    3351                    91.43
Other notes                                    3113                    84.94
Short definition                               1509                    41.17

5. Duplicate rows in EdStatsSeries

There are no duplicate rows.
6. Descriptive statistics for EdStatsSeries

,Unit of measure,Notes from original source,Other web links,Related indicators,License Type,Unnamed: 20
count,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN

7. Unique values for categorical columns of EdStatsSeries

Unique values for Series Code: 3665
['BAR.NOED.1519.FE.ZS' 'BAR.NOED.1519.ZS' 'BAR.NOED.15UP.FE.ZS' ...
 'UIS.XUNIT.USCONST.56.FSGOV' 'XGDP.23.FSGOV.FDINSTADM.FFD'
 'XGDP.56.FSGOV.FDINSTADM.FFD']


Unique values for Topic: 37
['Attainment' 'Education Equality' 'Infrastructure: Communications'
 'Learning Outcomes'
 'Economic Policy & Debt: National accounts: US$ at current prices: Aggregate indicators'
 'Economic Policy & Debt: National accounts: US$ at constant 2010 prices: Aggregate indicators'
 'Economic Policy & Debt: Purchasing power parity'
 'Economic Policy & Debt: National accounts: Atlas GNI & GNI per capita'
 'Teachers' 'Education Management Information Systems (SABER)'
 'Early Child Development (SABER)' 'Engaging the Private Sector (SABER)'
 'School Health and School Feeding (SABER)'
 'School Autonomy and Accountability (SABER)' 'School Finance (SABER)'
 'Student Assessment (SABER)' 'Teachers (SABER)'
 'Tertiary Education (SABER)' 'Workforce Development (SABER)' 'Literacy'
 'Background' 'Primary' 'Secondary' 'Tertiary' 'Early Childhood Education'
 'Pre-Primary' 'Expenditures' 'Health: Risk factors' 'Health: Mortality'
 'Social Protection & Labor: Labor force structure' 'Laber'
 'Social Protection & Labor: Unemployment' 'Health: Population: Structure'
 'Population' 'Health: Population: Dynamics' 'EMIS'
 'Post-Secondary/Non-Tertiary']


Unique values for Indicator Name: 3665
['Barro-Lee: Percentage of female population age 15-19 with no education'
 'Barro-Lee: Percentage of population age 15-19 with no education'
 'Barro-Lee: Percentage of female population age 15+ with no education'
 ... 'Government expenditure per tertiary student (constant US$)'
 'Government expenditure in secondary institutions education as % of GDP (%)'
 'Government expenditure in tertiary institutions as % of GDP (%)']


Unique values for Short definition: 1169
['Percentage of female population age 15-19 with no education'
 'Percentage of population age 15-19 with no education'
 'Percentage of female population age 15+ with no education' ...
 'Average total (current, capital and transfers) general government expenditure per student in the given level of education, expressed in nominal purchasing power parity (PPP) dollars. Divide total government expenditure (in PPP$) for a given level of education (ex. primary, secondary) by total enrolment in that same level. For more information, consult the UNESCO Institute of Statistics website: http://www.uis.unesco.org/Education/'
 'Average total (current, capital and transfers) general government expenditure per student in the given level of education, expressed in purchasing power parity (PPP) dollars at constant prices. The constant prices base year is normally three years before the year of the data release. Divide total government expenditure (in constant PPP$) for a given level of education (ex. primary, secondary) by total enrolment in that same level. For more information, consult the UNESCO Institute of Statistics website: http://www.uis.unesco.org/Education/'
 'Total general (local, regional and central) government expenditure in educational institutions (current and capital) at a given level of education, expressed as a percentage of GDP. It excludes transfers to private entities such as subsidies to households and students, but includes expenditure funded by transfers from international sources to government. Divide total expenditure in public institutions of a given level of education (ex. primary, secondary, or all levels combined) by the GDP, and multiply by 100. For more information, consult the UNESCO Institute of Statistics website: http://www.uis.unesco.org/Education/']


Unique values for Long definition: 2060
['Percentage of female population age 15-19 with no education'
 'Percentage of population age 15-19 with no education'
 'Percentage of female population age 15+ with no education' ...
 'Average total (current, capital and transfers) general government expenditure per student in the given level of education, expressed in nominal US$ at market exchange rates. Divide total government expenditure (in US$) for a given level of education (ex. primary, secondary) by total enrolment in that same level. This indicator is useful to compare average spending on one student between levels of education, over time, or between countries. Constant US$ allow comparing absolute values using a common currency, however nominal values do not take into account the effect of inflation. This indicator should not be considered a unit cost, since it only includes what the government spends, and not total spending per student (including household contributions). Since it is a simple division of total government expenditure by the number of students at a given level, whether they attend public or private institutions, in countries where private provision and/or funding of education is higher the average amount per student will appear lower. For more information, consult the UNESCO Institute of Statistics website: http://www.uis.unesco.org/Education/'
 'Average total (current, capital and transfers) general government expenditure per student in the given level of education, expressed in US$ at market exchange rates, in constant prices. The constant prices base year is normally three years before the year of the data release. Divide total government expenditure (in constant US$) for a given level of education (ex. primary, secondary) by total enrolment in that same level. This indicator is useful to compare average spending on one student between levels of education, over time, or between countries. Constant US$ allow comparing absolute values using a common currency, and taking into account the effect of inflation. This indicator should not be considered a unit cost, since it only includes what the government spends, and not total spending per student (including household contributions). Since it is a simple division of total government expenditure by the number of students at a given level, whether they attend public or private institutions, in countries where private provision and/or funding of education is higher the average amount per student will appear lower. For more information, consult the UNESCO Institute of Statistics website: http://www.uis.unesco.org/Education/'
 'Total general (local, regional and central) government expenditure in educational institutions (current and capital) at a given level of education, expressed as a percentage of GDP. It excludes transfers to private entities such as subsidies to households and students, but includes expenditure funded by transfers from international sources to government. Divide total expenditure in public institutions of a given level of education (ex. primary, secondary, or all levels combined) by the GDP, and multiply by 100. For more information, consult the UNESCO Institute of Statistics website: http://www.uis.unesco.org/Education/']


Unique values for Periodicity: 1
[nan 'Annual']


Unique values for Base Period: 4
[nan '2010' '2011' 'Projections (2010 to 2100)' '14']


Unique values for Other notes: 14
[nan 'EGRA' 'PISA' 'Proficiency' 'All Levels' 'Primary' 'Secondary'
 'Tertiary' 'Social Protection & Labor: Unemployment'
 'Health: Population: Structure' 'Single Level Attainment/ Not Cumulative'
 'Cumulative Attainment' 'Mean Years of Schooling' 'Pre-Primary'
 'Post-secondary']


Unique values for Aggregation method: 3
[nan 'Weighted average' 'Gap-filled total' 'Sum']


Unique values for Limitations and exceptions: 9
[nan
 'Operators have traditionally been the main source of telecommunications data, so information on subscriptions has been widely available for most countries. This gives a general idea of access, but a more precise measure is the penetration rate - the share of households with access to telecommunications. During the past few years more information on information and communication technology use has become available from household and business surveys. Also important are data on actual use of telecommunications services. Ideally, statistics on telecommunications (and other information and communications technologies) should be compiled for all three measures: subscriptions, access, and use. The quality of data varies among reporting countries as a result of differences in regulations covering data provision and availability.\n\nDiscrepancies may also arise in cases where the end of a fiscal year differs from that used by ITU, which is the end of December of every year. A number of countries have fiscal years that end in March or June of every year.'
 'Gross domestic product (GDP), though widely tracked, may not always be the most relevant summary of aggregated economic performance for all economies, especially when production occurs at the expense of consuming capital stock.\n\nWhile GDP estimates based on the production approach are generally more reliable than estimates compiled from the income or expenditure side, different countries use different definitions, methods, and reporting standards. World Bank staff review the quality of national accounts data and sometimes make adjustments to improve consistency with international guidelines. Nevertheless, significant discrepancies remain between international standards and actual practice. Many statistical offices, especially those in developing countries, face severe limitations in the resources, time, training, and budgets required to produce reliable and comprehensive series of national accounts statistics.\n\nAmong the difficulties faced by compilers of national accounts is the extent of unreported economic activity in the informal or secondary economy. In developing countries a large share of agricultural output is either not exchanged (because it is consumed within the household) or not exchanged for money.'
 "Each industry's contribution to growth in the economy's output is measured by growth in the industry's value added. In principle, value added in constant prices can be estimated by measuring the quantity of goods and services produced in a period, valuing them at an agreed set of base year prices, and subtracting the cost of intermediate inputs, also in constant prices. This double-deflation method requires detailed information on the structure of prices of inputs and outputs.\n\nIn many industries, however, value added is extrapolated from the base year using single volume indexes of outputs or, less commonly, inputs. Particularly in the services industries, including most of government, value added in constant prices is often imputed from labor inputs, such as real wages or number of employees. In the absence of well defined measures of output, measuring the growth of services remains difficult.\n\nMoreover, technical progress can lead to improvements in production processes and in the quality of goods and services that, if not properly accounted for, can distort measures of value added and thus of growth. When inputs are used to estimate output, as for nonmarket services, unmeasured technical progress leads to underestimates of the volume of output. Similarly, unmeasured improvements in quality lead to underestimates of the value of output and value added. The result can be underestimates of growth and productivity improvement and overestimates of inflation.\n\nInformal economic activities pose a particular measurement problem, especially in developing countries, where much economic activity is unrecorded. A complete picture of the economy requires estimating household outputs produced for home use, sales in informal markets, barter exchanges, and illicit or deliberately unreported activities. The consistency and completeness of such estimates depend on the skill and methods of the compiling statisticians.\n\nRebasing of national accounts can alter the measured growth rate of an economy and lead to breaks in series that affect the consistency of data over time. When countries rebase their national accounts, they update the weights assigned to various components to better reflect current patterns of production or uses of output. The new base year should represent normal operation of the economy - it should be a year without major shocks or distortions. Some developing countries have not rebased their national accounts for many years. Using an old base year can be misleading because implicit price and volume weights become progressively less relevant and useful.\n\nTo obtain comparable series of constant price data for computing aggregates, the World Bank rescales GDP and value added by industrial origin to a common reference year. Because rescaling changes the implicit weights used in forming regional and income group aggregates, aggregate growth rates are not comparable with those from earlier editions with different base years. Rescaling may result in a discrepancy between the rescaled GDP and the sum of the rescaled components. To avoid distortions in the growth rates, the discrepancy is left unallocated. As a result, the weighted average of the growth rates of the components generally does not equal the GDP growth rate."
 'The limited availability of data on health status is a major constraint in assessing the health situation in developing countries. Surveillance data are lacking for many major public health concerns. Estimates of prevalence and incidence are available for some diseases but are often unreliable and incomplete. National health authorities differ widely in capacity and willingness to collect or report information.'
 'Complete vital registration systems are fairly uncommon in developing countries. Thus estimates must be obtained from sample surveys or derived by applying indirect estimation techniques to registration, census, or survey data. Survey data are subject to recall error, and surveys estimating infant/child deaths require large samples because households in which a birth has occurred during a given year cannot ordinarily be preselected for sampling. Indirect estimates rely on model life tables that may be inappropriate for the population concerned. Extrapolations based on outdated surveys may not be reliable for monitoring changes in health status or for comparative analytical work.'
 'Data should be used cautiously because of differences in age coverage.'
 'The criteria for people considered to be seeking work, and the treatment of people temporarily laid off or seeking work for the first time, vary across countries. In many cases it is especially difficult to measure employment and unemployment in agriculture. The timing of a survey can maximize the effects of seasonal unemployment in agriculture. And informal sector employment is difficult to quantify where informal activities are not tracked.\n\nThere may be also persons not currently in the labour market who want to work but do not actively "seek" work because they view job opportunities as limited, or because they have restricted labour mobility, or face discrimination, or structural, social or cultural barriers. The exclusion of people who want to work but are not seeking work (often called the "hidden unemployed" or "discouraged workers") is a criterion that will affect the unemployment count of both women and men. \n\nHowever, women tend to be excluded from the count for various reasons. Women suffer more from discrimination and from structural, social, and cultural barriers that impede them from seeking work. Also, women are often responsible for the care of children and the elderly and for household affairs. They may not be available for work during the short reference period, as they need to make arrangements before starting work. Further, women are considered to be employed when they are working part-time or in temporary jobs, despite the instability of these jobs or their active search for more secure employment.'
 "Because the five-year age group is the cohort unit and five-year period data are used in the United Nations Population Division's World Population Prospects, interpolations to obtain annual data or single age structure may not reflect actual events or age composition. For more information, see the original source."
 'Current population estimates for developing countries that lack (i) reliable recent census data, and (ii) pre- and post-census estimates for countries with census data, are provided by the United Nations Population Division and other agencies. \n\nThe cohort component method - a standard method for estimating and projecting population - requires fertility, mortality, and net migration data, often collected from sample surveys, which can be small or limited in coverage. Population estimates are from demographic modeling and so are susceptible to biases and errors from shortcomings in both the model and the data. In the UN estimates the five-year age group is the cohort unit and five-year period data are used; therefore interpolations to obtain annual data or single age structure may not reflect actual events or age composition.\n\nBecause future trends cannot be known with certainty, population projections have a wide range of uncertainty.']


Unique values for General comments: 8
[nan
 'Restricted use: Please cite the International Telecommunication Union for third-party use of these data. This indicator is not available in the World Development Indicators time series database.'
 'Please cite the International Telecommunication Union for third-party use of these data.'
 'Given that data on the incidence and prevalence of diseases are frequently unavailable, mortality rates are often used to identify vulnerable populations. Moreover, they are among the indicators most frequently used to compare socioeconomic development across countries. Under-five mortality rates are higher for boys than for girls in countries in which parental gender preferences are insignificant. Under-five mortality captures the effect of gender discrimination better than infant mortality does, as malnutrition and medical interventions have more significant impacts to this age group. Where female under-five mortality is higher, girls are likely to have less access to resources than boys.'
 'Data up to 2016 are estimates while data from 2017 are projections.'
 'When NEET rates are available for more than two age groups in a given year, one value for persons ages 15 to 29 is taken, considering that not all people complete their education by the age of 24.'
 'Data up to 2016 are estimates while data from 2017 are projections. National estimates are also available in the WDI database. Caution should be used when comparing ILO estimates with national estimates.'
 'Relevance to gender indicator: Knowing how many girls, adolescents and women there are in a population helps a country in determining its provision of services.'
 'Relevance to gender indicator: disaggregating the population composition by gender will help a country in projecting its demand for social services on a gender basis.']


Unique values for Source: 31
['Robert J. Barro and Jong-Wha Lee: http://www.barrolee.com/'
 'Demographic and Health Surveys (DHS)'
 'World Bank staff calculations based on Multiple Indicator Cluster Survey (MICS) data'
 'Multiple Indicator Cluster Surveys (MICS)'
 'International Telecommunication Union, World Telecommunication/ICT Development Report and database.'
 'Early Grade Reading Assessment (EGRA): https://www.eddataglobal.org/reading/'
 'Latin American Laboratory for Assessment of the Quality of Education (LLECE)'
 "Programme d'Analyse des Systèmes Educatifs de la CONFEMEN/Program for the Analysis of CONFEMEN Education Systems (PASEC): http://www.pasec.confemen.org/"
 'OECD Programme for the International Assessment of Adult Competencies (PIAAC)'
 'International Association for the Evaluation of Educational Achievement (IEA) Progress in International Reading Literacy Study (PIRLS)'

> <u>Notes:</u>
>
>EdStatsSeries is a dataset that provides details on 3,665 unique indicators, covering various topics and themes. With 3,665 rows and 21 columns, this dataset is essential for understanding the meaning and context of each indicator. However, several columns, including "Unnamed: 20", appear to contain a large amount of missing data or be redundant. These columns will need to be closely examined during the data cleaning phase.

[Back to top](#top)

### 5 - <u>EdStatsFootNote :</u><a id='stats-foot-note'></a>

In [188]:
# Exploring EdStatsFootNote
explore_df(FOOT_NOTE, "EdStatsFootNote")

Exploration of EdStatsFootNote



1. Preview the first and last line of EdStatsFootNote

  CountryCode      SeriesCode    Year          DESCRIPTION  Unnamed: 4
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.         NaN
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.         NaN
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.         NaN
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.         NaN
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.         NaN

,CountryCode,SeriesCode,Year,DESCRIPTION,Unnamed: 4
643633,ZWE,SH.DYN.MORT,YR2007,Uncertainty bound is 91.6 - 109.3,NaN
643634,ZWE,SH.DYN.MORT,YR2014,Uncertainty bound is 54.3 - 76,NaN
643635,ZWE,SH.DYN.MORT,YR2015,Uncertainty bound is 48.3 - 73.3,NaN
643636,ZWE,SH.DYN.MORT,YR2017,5-year average value between 0s and 5s,NaN
643637,ZWE,SP.POP.GROW,YR2017,5-year average value between 0s and 5s,NaN

2. General information about EdStatsFootNote

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643638 entries, 0 to 643637
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CountryCode  643638 non-null  object
 1   SeriesCode   643638 non-null  object
 2   Year         643638 non-null  object
 3   DESCRIPTION  643638 non-null  object
 4   Unnamed: 4   0 non-null       float64
dtypes: float64(1), object(4)
memory usage: 24.6+ MB
3. Data types in EdStatsFootNote

object     4
float64    1
dtype: int64
4. Missing values in EdStatsFootNote

Displaying all columns with missing data:

            Missing Values  Missing Percentages (%)
Unnamed: 4          643638                    100.0

5. Duplicate rows in EdStatsFootNote

There are no duplicate rows.
6. Descriptive statistics for EdStatsFootNote

       Unnamed: 4
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

7. Unique values for categorical columns of EdStatsFootNote

Unique values for CountryCode: 239
['ABW' 'AFG' 'AGO' 'ALB' 'AND' 'ARB' 'ARE' 'ARG' 'ARM' 'ASM' 'ATG' 'AUS'
 'AUT' 'AZE' 'BDI' 'BEL' 'BEN' 'BFA' 'BGD' 'BGR' 'BHR' 'BHS' 'BIH' 'BLR'
 'BLZ' 'BMU' 'BOL' 'BRA' 'BRB' 'BRN' 'BTN' 'BWA' 'CAF' 'CAN' 'CHE' 'CHI'
 'CHL' 'CHN' 'CIV' 'CMR' 'COD' 'COG' 'COL' 'COM' 'CPV' 'CRI' 'CUB' 'CUW'
 'CYM' 'CYP' 'CZE' 'DEU' 'DJI' 'DMA' 'DNK' 'DOM' 'DZA' 'EAP' 'EAS' 'ECA'
 'ECS' 'ECU' 'EGY' 'EMU' 'ERI' 'ESP' 'EST' 'ETH' 'EUU' 'FIN' 'FJI' 'FRA'
 'FRO' 'FSM' 'GAB' 'GBR' 'GEO' 'GHA' 'GIB' 'GIN' 'GMB' 'GNB' 'GNQ' 'GRC'
 'GRD' 'GTM' 'GUM' 'GUY' 'HIC' 'HKG' 'HND' 'HPC' 'HRV' 'HTI' 'HUN' 'IDN'
 'IMN' 'IND' 'IRL' 'IRN' 'IRQ' 'ISL' 'ISR' 'ITA' 'JAM' 'JOR' 'JPN' 'KAZ'
 'KEN' 'KGZ' 'KHM' 'KIR' 'KNA' 'KOR' 'KWT' 'LAC' 'LAO' 'LBN' 'LBR' 'LBY'
 'LCA' 'LCN' 'LDC' 'LIC' 'LIE' 'LKA' 'LMC' 'LMY' 'LSO' 'LTU' 'LUX' 'LVA'
 'MAC' 'MAR' 'MCO' 'MDA' 'MDG' 'MDV' 'MEA' 'MEX' 'MHL' 'MIC' 'MKD' 'MLI'
 'MLT' 'MMR' 'MNA' 'MNE' 'MNG' 'MNP' 'MOZ' 'MRT' 'MUS' 'MWI' 'MYS' 'NAC'
 'NAM' 'NCL' 'NER' 'NGA' 'NIC' 'NLD' 'NOR' 'NPL' 'NRU' 'NZL' 'OED' 'OMN'
 'PAK' 'PAN' 'PER' 'PHL' 'PLW' 'PNG' 'POL' 'PRI' 'PRK' 'PRT' 'PRY' 'PSE'
 'PYF' 'QAT' 'ROU' 'RUS' 'RWA' 'SAS' 'SAU' 'SDN' 'SEN' 'SGP' 'SLB' 'SLE'
 'SLV' 'SMR' 'SOM' 'SRB' 'SSA' 'SSD' 'SSF' 'STP' 'SUR' 'SVK' 'SVN' 'SWE'
 'SWZ' 'SYC' 'SYR' 'TCA' 'TCD' 'TGO' 'THA' 'TJK' 'TKM' 'TLS' 'TON' 'TTO'
 'TUN' 'TUR' 'TUV' 'TZA' 'UGA' 'UKR' 'UMC' 'URY' 'USA' 'UZB' 'VCT' 'VEN'
 'VGB' 'VIR' 'VNM' 'VUT' 'WLD' 'WSM' 'XKX' 'YEM' 'ZAF' 'ZMB' 'ZWE']


Unique values for SeriesCode: 1558
['SE.PRE.ENRL.FE' 'SE.TER.TCHR.FE' 'SE.PRE.TCHR.FE' ...
 'UIS.AFR.GTCTR.2.F' 'UIS.AFR.GTCTR.2.M' 'UIS.AFR.GTCTR.2.T']


Unique values for Year: 56
['YR2001' 'YR2005' 'YR2000' 'YR2004' 'YR2006' 'YR2003' 'YR1999' 'YR2008'
 'YR2002' 'YR2007' 'YR2017' 'YR2010' 'YR2009' 'YR2011' 'YR2012' 'YR2015'
 'YR2014' 'YR1970' 'YR1971' 'YR1972' 'YR1973' 'YR1974' 'YR1975' 'YR1976'
 'YR1977' 'YR1978' 'YR1979' 'YR1980' 'YR1981' 'YR1982' 'YR1983' 'YR1984'
 'YR1985' 'YR1986' 'YR1987' 'YR1988' 'YR1989' 'YR1990' 'YR1991' 'YR1992'
 'YR1993' 'YR1994' 'YR1995' 'YR1996' 'YR1997' 'YR1998' 'YR2013' 'YR2016'
 'YR2020' 'YR2025' 'YR2030' 'YR2035' 'YR2040' 'YR2045' 'YR2050' 'yr2012']


Unique values for DESCRIPTION: 9102
['Country estimation.' 'UIS Estimation'
 'UNESCO Institute for Statistics (UIS) estimate' ...
 'Uncertainty bound is 91.6 - 109.3' 'Uncertainty bound is 54.3 - 76'
 'Uncertainty bound is 48.3 - 73.3']



 8. Dimensions of EdStatsFootNote

Number of lines: 643638
Number of columns: 5

> <u>Notes:</u>
>
> The EdStatsFootNote dataset provides additional notes for the indicators, offering context and further details for 643,638 unique entries. While the dataset contains 5 columns, the "Unnamed: 4" column appears to be redundant and entirely empty. This column, along with other potential anomalies, will need to be addressed during the data cleaning phase.

[Back to top](#top)

### <u>Analysis note:</u><a id='analysis-note'></a>

#### 1. sData
- **Country Name**: Name of the countries.
- **Country Code**: Unique code of the country.
- **Indicator Name**: Name of the indicator.
- **Indicator Code**: Unique code of the indicator.
- **Years**: Years corresponding to each data point.

#### 2. sCountry
- **Country Code**: Unique code of the country.
- **Table Name**: Country name as per ISO standards.
- **Region**: Geographical region of the country.
- **Income Group**: Country's income category.

#### 3. sCountry Serie
- **Country Code**: Unique code of the country.
- **Series Code**: Unique code of the indicator.
- **Description**: Data source of the indicator.

#### 4. sSerie
- **Series Code**: Unique code of the indicator.
- **Topic**: Subject or theme of the indicator.
- **Indicator Name**: Name of the indicator.

#### 5. sFoot
Contains similar information to sCountry, but with the added year of the indicator and a detailed description of the data source.


#### General Observations
- No duplicate rows were found across all files.
- Several columns have a significant number of missing values, especially those with a 100% missing rate. I think it's recommended to remove these columns during the data cleaning phase.


#### Conclusion
Based on this information, the most relevant columns for our Ed-Tech study are: Country Name, Indicator Code, Country Code, Region, Income Group, Series Code, and Years.

[Back to top](#top)

## Data Cleaning <a id='data-cleaning'></a>
> Address any issues in the dataset to ensure its quality and reliability. This involves handling missing values, duplicates, and any inconsistencies.

### Relevant Indicators <a id='relevant indicators'></a>

To access the courses offered, potential clients must have a computer and an internet connection. Our target audience is students in upper secondary school and tertiary education, specifically those aged 15 to 24.

Here's a breakdown of the indicators:
- **UIS.E.3**: This represents the total number of students enrolled in both public and private upper secondary education institutions, irrespective of their age.

- **IT.CMP.PCMP.P2**: This indicates the number of personal computers per 100 people. Personal computers are standalone devices intended for individual use.

- **IT.NET.USER.P2**: This represents the number of internet users per 100 people. Internet users are defined as individuals who have accessed the internet (from any location) in the past 3 months. The internet can be accessed via various devices such as computers, mobile phones, PDAs, gaming consoles, digital TVs, etc.

- **SE.TER.ENRL**: This is the total number of students enrolled in both public and private tertiary education institutions.

- **SE.XPD.TOTL.GD.ZS**: This indicates the total expenditure (current, capital, and transfers) by local, regional, and central governments on education, expressed as a percentage of the GDP.

- **SP.POP.1524.TO.UN**: This represents the total population aged between 15 and 24.

In conclusion, we have identified 6 key indicators that will be instrumental for our analysis.

In [189]:
# List of relevant indicators for the analysis
relevant_indicators = [
    'SE.TER.ENRL',        # Total students enrolled in tertiary education
    'UIS.E.3',            # Total students enrolled in upper secondary education
    'IT.NET.USER.P2',     # Internet users per 100 people
    'IT.CMP.PCMP.P2',     # Personal computers per 100 people
    'SE.XPD.TOTL.GD.ZS',  # Government expenditure on education as % of GDP
    'SP.POP.1524.TO.UN'   # Total population aged between 15 and 24
]

### Filter & Eliminate unnecessary columns <a id='filter-&-eliminate-unnecessary-columns'></a>

#### 1 - <u>EdStatsData</u> <a id='cleaning-stats-data'></a>

In [190]:
# Filter the data DataFrame based on the relevant indicators
data = data[data['Indicator Code'].isin(relevant_indicators)]

In [191]:
# Display data
data

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
1204,Arab World,ARB,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,706416.125,733981.25,794759.0,871347.3125,957383.125,1066646.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1214,Arab World,ARB,"Enrolment in upper secondary education, both s...",UIS.E.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1260,Arab World,ARB,Government expenditure on education as % of GD...,SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1375,Arab World,ARB,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2084,Arab World,ARB,Personal computers (per 100 people),IT.CMP.PCMP.P2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884479,Zimbabwe,ZWE,"Enrolment in upper secondary education, both s...",UIS.E.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
884525,Zimbabwe,ZWE,Government expenditure on education as % of GD...,SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
884640,Zimbabwe,ZWE,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
885349,Zimbabwe,ZWE,Personal computers (per 100 people),IT.CMP.PCMP.P2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
885747,Zimbabwe,ZWE,"Population, ages 15-24, total",SP.POP.1524.TO.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [192]:
# Display missing data == 70%
missing_values_table(data, 70)

Displaying columns with missing data >= 70%:

Total columns that have missing data >= 70%: 40

             Missing Values  Missing Percentages (%)
Unnamed: 69            1452                   100.00
2060                   1452                   100.00
2025                   1452                   100.00
2030                   1452                   100.00
2035                   1452                   100.00
2040                   1452                   100.00
2045                   1452                   100.00
2050                   1452                   100.00
2055                   1452                   100.00
2065                   1452                   100.00
2017                   1452                   100.00
2070                   1452                   100.00
2075                   1452                   100.00
2080                   1452                   100.00
2085                   1452                   100.00
2090                   1452                   100.00
2095                   1452                   100.00
2100                   1452                   100.00
2020                   1452                   100.00
1970                   1354                    93.25
1974                   1273                    87.67
1972                   1271                    87.53
1973                   1267                    87.26
1976                   1261                    86.85
1977                   1260                    86.78
1978                   1259                    86.71
1971                   1258                    86.64
1975                   1254                    86.36
1979                   1244                    85.67
1983                   1242                    85.54
1987                   1240                    85.40
1985                   1240                    85.40
1980                   1235                    85.06
1984                   1235                    85.06
1982                   1233                    84.92
1981                   1222                    84.16
1986                   1220                    84.02
2016                   1218                    83.88
1988                   1193                    82.16
1989                   1183                    81.47

In [193]:
# Remove columns that contain +70% missing values
drop_columns(data, 70)

Displaying all columns with missing data:

40 columns dropped because it they had 70% missing values: Unnamed: 69, 2060, 2025, 2030, 2035, 2040, 2045, 2050, 2055, 2065, 2017, 2070, 2075, 2080, 2085, 2090, 2095, 2100, 2020, 1970, 1974, 1972, 1973, 1976, 1977, 1978, 1971, 1975, 1979, 1983, 1987, 1985, 1984, 1980, 1982, 1981, 1986, 2016, 1988, 1989

In [194]:
# Displaying all columns with missing data filtered by percentage >= 70%
missing_values_table(data)

Displaying all columns with missing data:

      Missing Values  Missing Percentages (%)
1991             943                    64.94
1992             921                    63.43
1993             894                    61.57
2015             880                    60.61
1994             835                    57.51
1990             762                    52.48
1995             750                    51.65
1997             742                    51.10
1996             711                    48.97
2014             667                    45.94
1998             649                    44.70
2013             606                    41.74
2012             588                    40.50
2009             580                    39.94
2010             577                    39.74
2011             575                    39.60
2008             557                    38.36
2007             546                    37.60
2006             485                    33.40
2000             411                    28.31
1999             409                    28.17
2003             396                    27.27
2005             394                    27.13
2001             393                    27.07
2002             371                    25.55
2004             370                    25.48

In [195]:
print(title("After Filtering Out Irrelevant Data:"))
print(f"- Number of rows: {data.shape[0]}")
print(f"- Number of columns: {data.shape[1]}")

After Filtering Out Irrelevant Data:

- Number of rows: 1452
- Number of columns: 30

#### 2 - <u>EdStatsCountry</u> <a id='cleaning-stats-country'></a>

In [196]:
# Display columns names
COUNTRY.columns.tolist()

['Country Code',
 'Short Name',
 'Table Name',
 'Long Name',
 '2-alpha code',
 'Currency Unit',
 'Special Notes',
 'Region',
 'Income Group',
 'WB-2 code',
 'National accounts base year',
 'National accounts reference year',
 'SNA price valuation',
 'Lending category',
 'Other groups',
 'System of National Accounts',
 'Alternative conversion factor',
 'PPP survey year',
 'Balance of Payments Manual in use',
 'External debt Reporting status',
 'System of trade',
 'Government Accounting concept',
 'IMF data dissemination standard',
 'Latest population census',
 'Latest household survey',
 'Source of most recent Income and expenditure data',
 'Vital registration complete',
 'Latest agricultural census',
 'Latest industrial data',
 'Latest trade data',
 'Latest water withdrawal data',
 'Unnamed: 31']

In [197]:
# Keep only relevant columns
country = country[['Country Code', 'Short Name', 'Table Name', 'Long Name']]

In [198]:
# Display table of 'country'
country

    Country Code    Short Name    Table Name                     Long Name
0            ABW         Aruba         Aruba                         Aruba
1            AFG   Afghanistan   Afghanistan  Islamic State of Afghanistan
2            AGO        Angola        Angola   People's Republic of Angola
3            ALB       Albania       Albania           Republic of Albania
4            AND       Andorra       Andorra       Principality of Andorra
..           ...           ...           ...                           ...
236          XKX        Kosovo        Kosovo            Republic of Kosovo
237          YEM         Yemen   Yemen, Rep.             Republic of Yemen
238          ZAF  South Africa  South Africa      Republic of South Africa
239          ZMB        Zambia        Zambia            Republic of Zambia
240          ZWE      Zimbabwe      Zimbabwe          Republic of Zimbabwe

[241 rows x 4 columns]

In [199]:
missing_values_table(country)

Displaying all columns with missing data:

There are no columns with the specified percentage of missing data.

In [200]:
print(title("After Filtering Out Irrelevant Data:"))
print(f"- Number of rows: {country.shape[0]}")
print(f"- Number of columns: {country.shape[1]}")

After Filtering Out Irrelevant Data:

- Number of rows: 241
- Number of columns: 4

In [201]:
country_series

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
...,...,...,...,...
608,ZAF,SP.POP.GROW,"Data sources : Statistics South Africa, United...",NaN
609,ZMB,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
610,ZMB,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
611,ZWE,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
612,ZWE,SP.POP.GROW,Data sources: United Nations World Population ...,NaN

#### 3 - <u>EdStatsCountrySeries</u> <a id='cleaning-stats-country-series'></a>

In [202]:
# Display columns names
country_series.columns.tolist()

['CountryCode', 'SeriesCode', 'DESCRIPTION', 'Unnamed: 3']

In [203]:
missing_values_table(country_series)

Displaying all columns with missing data:

            Missing Values  Missing Percentages (%)
Unnamed: 3             613                    100.0

In [204]:
# Drop columns that contain +100% missing values
drop_columns(country_series, 100)

Displaying all columns with missing data:

1 column dropped because it had 100% missing values: Unnamed: 3

In [205]:
# Displaying the table with missing data filtered by percentage >= 100%
country_series

,CountryCode,SeriesCode,DESCRIPTION
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...
...,...,...,...
608,ZAF,SP.POP.GROW,"Data sources : Statistics South Africa, United..."
609,ZMB,SP.POP.GROW,Data sources: United Nations World Population ...
610,ZMB,SP.POP.TOTL,Data sources : United Nations World Population...
611,ZWE,SP.POP.TOTL,Data sources : United Nations World Population...
612,ZWE,SP.POP.GROW,Data sources: United Nations World Population ...

#### 4 - <u>EdStatsSeries</u> <a id='cleaning-stats-series'></a>

In [206]:
# Display columns names
series.columns.tolist()

['Series Code',
 'Topic',
 'Indicator Name',
 'Short definition',
 'Long definition',
 'Unit of measure',
 'Periodicity',
 'Base Period',
 'Other notes',
 'Aggregation method',
 'Limitations and exceptions',
 'Notes from original source',
 'General comments',
 'Source',
 'Statistical concept and methodology',
 'Development relevance',
 'Related source links',
 'Other web links',
 'Related indicators',
 'License Type',
 'Unnamed: 20']

In [207]:
series = series[['Series Code','Topic','Indicator Name','Notes from original source','Other web links','Related indicators','License Type']]
series

,Series Code,Topic,Indicator Name,Notes from original source,Other web links,Related indicators,License Type
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
3660,UIS.XUNIT.USCONST.3.FSGOV,Expenditures,Government expenditure per upper secondary stu...,NaN,NaN,NaN,NaN
3661,UIS.XUNIT.USCONST.4.FSGOV,Expenditures,Government expenditure per post-secondary non-...,NaN,NaN,NaN,NaN
3662,UIS.XUNIT.USCONST.56.FSGOV,Expenditures,Government expenditure per tertiary student (c...,NaN,NaN,NaN,NaN
3663,XGDP.23.FSGOV.FDINSTADM.FFD,Expenditures,Government expenditure in secondary institutio...,NaN,NaN,NaN,NaN
3664,XGDP.56.FSGOV.FDINSTADM.FFD,Expenditures,Government expenditure in tertiary institution...,NaN,NaN,NaN,NaN

In [208]:
missing_values_table(series)

Displaying all columns with missing data:

                            Missing Values  Missing Percentages (%)
Notes from original source            3665                    100.0
Other web links                       3665                    100.0
Related indicators                    3665                    100.0
License Type                          3665                    100.0

In [209]:
# Drop columns that contain +100% missing values
drop_columns(series, 100)

Displaying all columns with missing data:

4 columns dropped because it they had 100% missing values: Notes from original source, Other web links, Related indicators, License Type

In [210]:
# Displaying the table with missing data filtered by percentage >= 100%
series

,Series Code,Topic,Indicator Name
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...
...,...,...,...
3660,UIS.XUNIT.USCONST.3.FSGOV,Expenditures,Government expenditure per upper secondary stu...
3661,UIS.XUNIT.USCONST.4.FSGOV,Expenditures,Government expenditure per post-secondary non-...
3662,UIS.XUNIT.USCONST.56.FSGOV,Expenditures,Government expenditure per tertiary student (c...
3663,XGDP.23.FSGOV.FDINSTADM.FFD,Expenditures,Government expenditure in secondary institutio...
3664,XGDP.56.FSGOV.FDINSTADM.FFD,Expenditures,Government expenditure in tertiary institution...

#### 5 - <u>EdStatsFootNote</u> <a id='cleaning-stats-foot-note'></a>

In [211]:
# Display columns names
foot_note.columns.tolist()

['CountryCode', 'SeriesCode', 'Year', 'DESCRIPTION', 'Unnamed: 4']

In [212]:
missing_values_table(foot_note)

Displaying all columns with missing data:

            Missing Values  Missing Percentages (%)
Unnamed: 4          643638                    100.0

In [213]:
# Drop columns that contain +100% missing values
drop_columns(foot_note, 100)

Displaying all columns with missing data:

1 column dropped because it had 100% missing values: Unnamed: 4

In [214]:
# Displaying the table with missing data filtered by percentage >= 100%
foot_note

,CountryCode,SeriesCode,Year,DESCRIPTION
0,ABW,SE.PRE.ENRL.FE,YR2001,Country estimation.
1,ABW,SE.TER.TCHR.FE,YR2005,Country estimation.
2,ABW,SE.PRE.TCHR.FE,YR2000,Country estimation.
3,ABW,SE.SEC.ENRL.GC,YR2004,Country estimation.
4,ABW,SE.PRE.TCHR,YR2006,Country estimation.
...,...,...,...,...
643633,ZWE,SH.DYN.MORT,YR2007,Uncertainty bound is 91.6 - 109.3
643634,ZWE,SH.DYN.MORT,YR2014,Uncertainty bound is 54.3 - 76
643635,ZWE,SH.DYN.MORT,YR2015,Uncertainty bound is 48.3 - 73.3
643636,ZWE,SH.DYN.MORT,YR2017,5-year average value between 0s and 5s
643637,ZWE,SP.POP.GROW,YR2017,5-year average value between 0s and 5s

[Back to top](#top)